{% comment %}
  Check for a bundle ID so we can apply starter kit logic
{% endcomment %}
{%- assign bundle_id = '' -%}
{%- for property in item.properties -%}
  {%- if property.first == '_bundleId' or property.first == '_beachBundle' or property.first == '_terryBundle' -%}
    {%- assign bundle_id = property.last -%}
  {%- endif -%}
{%- endfor -%}

<div class="cart-drawer__item" data-idx="{{ idx }}"{% if bundle_id != blank %} data-bundle="{{ bundle_id }}"{% endif %}>

  <div class="cart-drawer__item-image-wrapper">
    {% if item.image %}
      {% render 'lazy-image' image: item.image, fade: true, classes: 'cart-drawer__item-image' %}
    {% endif %}
  </div>
  <div class="cart-drawer__item-content">

    <div class="cart-drawer__item-header">
      <h4 class="cart-drawer__item-title body-large">{{ item.product.title }}</h4>

     
      {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
        <div class="cart-drawer__item-variant">
          {%- if item.product.has_only_default_variant == false -%}
            {%- for option in item.options_with_values -%}
              <p class="cart-drawer__item-option detail-caps">
                {{ option.name }}
                <span>{{ option.value }}</span>
              </p>
            {%- endfor -%}
          {%- endif -%}
          {%- for property in item.properties -%}
            {%- assign property_first_char = property.first | slice: 0 -%}
            {% assign propertyFirstHandle = property.first | handle %}
            {%- if property.last != blank and property_first_char != '_' and propertyFirstHandle != 'disclaimer' -%}
              <p class="cart-drawer__item-option detail-caps">
                {{ property.first }} <span>{{ property.last }}</span>
              </p>
              
              {% comment %}
                <h6 class="cart-drawer__item-option caption">
                  {{ property.first }}:
                  {%- if property.last contains '/uploads/' -%}
                    <a href="{{ property.last }}" target="_blank">
                      {{ property.last | split: '/' | last }}
                    </a>
                  {%- else -%}
                    {{ property.last }}
                  {%- endif -%}
                </h6>
              {% endcomment %}

            {% elsif property.last != blank and propertyFirstHandle == 'disclaimer' %}
              <p class="cart-drawer__item-option detail-caps" style="font-weight: 700;">*{{ property.last }}</p>
            {% else %}
              {% if propertyFirstHandle == 'disclaimer' %}
                <p class="cart-drawer__item-option detail-caps">*{{ property.last }}</p>
              {% endif %}
              {% if property.first == '_isPreSale' %}
                <p class="cart-drawer__item-option detail-caps">*PRE-SALE</p>
              {% endif %}
            {%- endif -%}
          {%- endfor -%}
  
        </div>

        <p class="product-option caption">{{ item.selling_plan_allocation.selling_plan.name }}</p>
      {%- endif -%}
    </div>

    <div class="cart-drawer__item-bottom">

      {% unless item.product.vendor == 'EcoCart' %}
        <div class="cart-drawer__item-quantity">
          <quantity-input class="quantity">
            <button class="quantity__button no-js-hidden" name="minus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
              {% render 'icon-minus' %}
            </button>
            <input class="quantity__input btn"
              type="number"
              name="updates[]"
              value="{{ item.quantity }}"
              min="0"
              aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
              id="Quantity-{{ item.index | plus: 1 }}"
              data-index="{{ item.index | plus: 1 }}"
            >
            <button class="quantity__button no-js-hidden" name="plus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
              {% render 'icon-plus' %}
            </button>
          </quantity-input>
        </div>
      {% endunless %}

      <cart-drawer-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}" data-variant="{{ item.id }}" data-key="{{ item.key }}">
        <a href="{{ item.url_to_remove }}" class="cart-drawer__item-remove body-small" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">Remove
        </a>
      </cart-drawer-remove-button>

      <div class="cart-drawer__item-price body-large">
        {%- if item.original_price != item.final_price -%}
          <dl class="cart-item__discounted-prices">
            <dt class="visually-hidden">
              {{ 'products.product.price.regular_price' | t }}
            </dt>
            <dd>
              <s class="cart-item__old-price price price--end">
                {{ item.original_price | money_without_trailing_zeros }}
              </s>
            </dd>
            <dt class="visually-hidden">
              {{ 'products.product.price.sale_price' | t }}
            </dt>
            <dd class="price price--end">
              {{ item.final_price | money_without_trailing_zeros }}
            </dd>
          </dl>

          {%- if item.variant.available and item.unit_price_measurement -%}
            <div class="unit-price caption">
              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
              {{ item.variant.unit_price | money_without_trailing_zeros }}
              <span aria-hidden="true">/</span>
              <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
              {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                {{- item.variant.unit_price_measurement.reference_value -}}
              {%- endif -%}
              {{ item.variant.unit_price_measurement.reference_unit }}
            </div>
          {%- endif -%}
        {%- else -%}
          <span class="price price--end">
            {{ item.original_price | money_without_trailing_zeros }}
          </span>
        {%- endif -%}
      </div>

    </div>
      
  </div>
</div>