{{ 'section-body-text-buttons.css' | asset_url | stylesheet_tag }}

<div class="body-text-buttons">
  <div class="page-width">
    <div class="body-text-buttons__container fade-in-up">
      <h2 class="body-text-buttons__text h4">{{ section.settings.text }}</h2>
      <div class="body-text-buttons__buttons">
        {% for block in section.blocks %}
          <a href="{{ block.settings.button_link }}" class="button" {{ block.shopify_attributes }}>{{ block.settings.button_label }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Body - Text / Buttons",
    "settings": [
      {
        "type": "textarea",
        "id": "text",
        "label": "text"
      }
    ],
    "blocks": [
      {
        "type": "button",
        "name": "Button",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Body - Text / Buttons"
      }
    ]
  }
{% endschema %}