{{ 'section-body-image-text-banner.css' | asset_url | stylesheet_tag }}

<div class="body-image-text-banner body-image-text-banner--{{ section.settings.content_position }} body-image-text-banner--{{ section.settings.section_size }}">
  {% if section.settings.mobile_image != blank %}
    {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'img-fill hide-mobile' %}
    {% render 'lazy-image' image: section.settings.mobile_image, fade: true, classes: 'img-fill hide-desktop' %}
  {% else %}
    {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'img-fill' %}
  {% endif %}
  <div class="page-width">
    <div class="body-image-text-banner__content fade-in-up">
      <p class="body-image-text-banner__text sh2">{{ section.settings.text | newline_to_br }}</p>
      {% if section.settings.button_label != blank and section.settings.make_section_clickable == false %}
        <a href="{{ section.settings.button_link }}" class="button">{{ section.settings.button_label }}</a>
      {% endif %}
    </div>
  </div>
  {% if section.settings.make_section_clickable %}
    <a class="body-image-text-banner__link" href="{{ section.settings.button_link }}"></a>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Body - Image/Text Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "select",
        "id": "section_size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small",
        "label": "Section Size"
      },
      {
        "type": "select",
        "id": "content_position",
        "label": "Content Position",
        "options": [
          {
            "value": "top-left",
            "label": "Top Left"
          },
          {
            "value": "top-center",
            "label": "Top Center"
          },
          {
            "value": "top-right",
            "label": "Top Right"
          },
          {
            "value": "center-left",
            "label": "Center Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "center-right",
            "label": "Center Right"
          },
          {
            "value": "bottom-left",
            "label": "Bottom Left"
          },
          {
            "value": "bottom-center",
            "label": "Bottom Center"
          },
          {
            "value": "bottom-right",
            "label": "Bottom Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "checkbox",
        "id": "make_section_clickable",
        "label": "Make Section Clickable"
      }
    ],
    "presets": [
      {
        "name": "Body - Image/Text Banner"
      }
    ]
  }
{% endschema %}