{{ 'section-body-featured-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<div class="body-collection">
  <div class="page-width">
    <div class="body-collection__header fade-in-up">
      <h2 class="body-collection__title sh2">{{ section.settings.title }}</h2>
      <div class="body-collection__links">
        {% for block in section.blocks %}
          <a href="{{ block.settings.link }}" class="text-link btn" {{ block.shopify_attributes }}>{{ block.settings.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="body-collection__container fade-in-up">
      <div class="body-collection__image-container">
        <a href="{{ section.settings.image_link }}" class="body-collection__image">
          {% if section.settings.video != blank %}
            {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'img-fill', image_size: '1440x' }}
          {% else %}
            {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'img-fill' %}
          {% endif %}
          <p class="body-collection__image-text body-collection__image-text--1 h1">{{ section.settings.text_1 }}</p>
          <p class="body-collection__image-text body-collection__image-text--2 h1">{{ section.settings.text_2 }}</p>
        </a>
      </div>
      <div class="body-collection__products">
        {% for product in section.settings.products %}
          <div class="body-collection__product">
            {% render 'product-card' product_card_product: product, show_secondary_image: true %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Body - Feat. Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "product_list",
        "id": "products",
        "label": "Products"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "video",
        "id": "video",
        "label": "Video"
      },
      {
        "type": "url",
        "id": "image_link",
        "label": "Image Link"
      },
      {
        "type": "text",
        "id": "text_1",
        "label": "Text 1"
      },
      {
        "type": "text",
        "id": "text_2",
        "label": "Text 2"
      }
    ],
    "blocks": [
      {
        "type": "link",
        "name": "Link",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Body - Feat. Collection"
      }
    ]
  }
{% endschema %}