<section class="events-stores event-block" data-section="stores">
  <h2 class="event-title sh2">{{ section.settings.title }}</h2>
  <div class="events-stores__container">
    {% for block in section.blocks %}
      <div class="events-stores__item" {{ block.shopify_attributes }}>
        <div class="events-stores__image">
          {% render 'lazy-image' image: block.settings.image, fade: true, classes: 'img-fill' %}
        </div>
        <div class="events-stores__content">
          <div class="events-stores__content-container fade-in-up">
            <p class="events-stores__location caption">{{ block.settings.location }}</p>
            <h3 class="events-stores__name sh2">{{ block.settings.name }}</h3>
            <div class="events-stores__grid">
              <div class="events-stores__details">
                <p class="events-stores__grid-title caption">Details</p>
                <p class="events-stores__grid-text body-2">{{ block.settings.details | newline_to_br }}</p>
              </div>
              <div class="events-stores__hours">
                <p class="events-stores__grid-title caption">Store Hours</p>
                <p class="events-stores__grid-text body-2">{{ block.settings.hours | newline_to_br }}</p>
              </div>
            </div>
            {% if block.settings.link_label != blank %}
              <a href="{{ block.settings.link }}" class="events-stores__link text-link">{{ block.settings.link_label }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Body - Events Stores",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Our Stores"
      }
    ],
    "blocks": [
      {
        "type": "store",
        "name": "Store",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "location",
            "label": "Location"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Store Name"
          },
          {
            "type": "textarea",
            "id": "details",
            "label": "Details"
          },
          {
            "type": "textarea",
            "id": "hours",
            "label": "Store Hours"
          },
          {
            "type": "text",
            "id": "link_label",
            "label": "Link Label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}