{{ 'section-body-categories.css' | asset_url | stylesheet_tag }}

<div class="body-categories">
  <div class="page-width">
    <div class="body-categories__container">
      {% for block in section.blocks %}
        <a href="{{ block.settings.link }}" class="body-categories__block fade-in-up" {{ block.shopify_attributes }}>
          {% if block.settings.video != blank %}
            {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'img-fill', image_size: '1440x' }}
          {% else %}
            {% render 'lazy-image' image: block.settings.image, fade: true, classes: 'img-fill' %}
          {% endif %}
          <h2 class="body-categories__block-title h2">{{ block.settings.title }}</h2>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Body - Categories",
    "settings": [

    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Body - Categories"
      }
    ]
  }
{% endschema %}