{{ 'section-product-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% assign current_collection = collections[section.settings.collection] %}

<div class="care-tips-product">
  <div class="page-width">
    <div class="care-tips-product__header detail-caps">
      {{ section.settings.text_left }}
      <div class="glow"></div>
      {{ section.settings.text_right }}
    </div>
    <div class="care-tips-product__container">
      <div class="product-slider__collection swiper active">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% assign current_product = all_products[block.settings.product] %}
            <div class="product-slider__item swiper-slide">
              {% render 'product-card',
                product_card_product: current_product,
                show_secondary_image: true
              %}
            </div>
          {% endfor %}
        </div>
        <div class="product-slider__scrollbar-wrapper">
          <div class="swiper-scrollbar hide-desktop"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% javascript %}
  const featuredCollection = new Swiper('.product-slider__collection', {
    slidesPerView: 1,
    loop: false,
    spaceBetween: 10,
    watchOverflow: true,
    allowTouchMove: true,
    speed: 400,
    freeMode: true,
    scrollbar: {
      el: '.product-slider__collection .swiper-scrollbar',
      draggable: true
    },
    breakpoints: {
      1: {
        spaceBetween: 10,
        slidesPerView: 1.5
      },
      601: {
        spaceBetween: 10,
        slidesPerView: 2
      },
      769: {
        spaceBetween: 20,
        slidesPerView: 2.5,
        allowTouchMove: false,
        freeMode: false
      },
      1051: {
        spaceBetween: 20,
        slidesPerView: 3,
        allowTouchMove: false,
        freeMode: false
      },
      1200: {
        spaceBetween: 20,
        slidesPerView: 4,
        allowTouchMove: false,
        freeMode: false
      }
    }
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Care Tips Products",
    "settings": [
      {
        "type": "text",
        "id": "text_left",
        "label": "Text Left"
      },
      {
        "type": "text",
        "id": "text_right",
        "label": "Text Right"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "limit": 4,
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}