{% if settings.ss_enable %}
  <div id="searchspring-toolbar"></div>
{% else %}
  {{ 'component-collection-filters.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'collection-filters.js' | asset_url }}" defer="defer"></script>
  
  {% assign active_tags = '' %}
  
  {% for tag in current_tags %}
    {% assign tag_as_handle = tag | replace: '&#39;', '' | replace: '&#34;', '' | handle %}
    {% assign active_tags = active_tags | append: tag_as_handle %}
  
    {% unless forloop.last %}
      {% assign active_tags = active_tags | append: '+' %}
    {% endunless %}
  {% endfor %}
  
  <collection-filters class="collection-filters" data-collection-url="{{ collection.url }}" data-current-tags="{{ active_tags }}" data-current-sort="{{ collection.sort_by | default: collection.default_sort_by }}">
    <div class="collection-filters__overlay"></div>
    <div class="collection-filters__container page-width">
  
      <div class="collection-filters__mobile-buttons hide-desktop">
        {% comment %} <button class="collection-filters__mobile-button body open-filters">Filter&nbsp;&nbsp;&nbsp;+</button>
        <button class="collection-filters__mobile-button body open-sort">Sort&nbsp;&nbsp;&nbsp;+</button> {% endcomment %}

        {% for block in section.blocks %}
          {% if block.type == 'filter_category' %}
            <div class="collection-filters__mobile-item">
              <button class="collection-filters__mobile-button body open-filters" data-open-filter-category="{{ block.settings.title | handleize }}">
                {{ block.settings.title }}
                {% render 'icon-caret' %}                
              </button>
            </div>
          {% endif %}
        {% endfor %}

        <button class="collection-filters__mobile-button body open-sort">
          Sort
          {% render 'icon-caret' %}
        </button>
      </div>
  
      <div class="collection-filters__left" id="FilterList">
        <div class="collection-filters__categories">
          <p class="collection-filters__title detail-caps hide-mobile">Filters</p>
          <div class="collection-filters__mobile-title hide-desktop">
            <p class="body-large"><span id='ActiveFilterCount'>({{ current_tags | size}})</span> Filter Selected</p>
            <button class="collection-filters__close">{% render 'icon-close' %}</button>
          </div>

          <div class="collection-filters__active-tags no-scrollbar hide-desktop" id="CollectionFilterActiveTagsMobile">
            {% if active_tags != blank %}
              {% for tag in current_tags %}
                {% assign tag_as_handle = tag | replace: '&#39;', '' | replace: '&#34;', '' | handle %}
                <div class="collection-filters__active-tag caption-neue" data-value="{{ tag_as_handle }}">
                  {{ tag }}
                  <button class="collection-filters__active-tag-remove">
                    {% render 'icon-close-small' %}
                  </button>
                </div>
              {% endfor %}
              <button class="collection-filters__clear-all text-link" >
                Clear all
              </button>
            {% endif %}
          </div>

          {% for block in section.blocks %}
            {% if block.type == 'filter_category' %}
              <div class="collection-filters__item" data-filter-category={{ block.settings.title | handleize }}>
                <button class="collection-filters__button body">
                  {{ block.settings.title }}
                  <span class='hide-mobile'>{% render 'icon-caret' %}</span>
                  <span class="hide-desktop">
                    <svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.04582 5.34465L5.04582 9.29883L3.93901 9.29883L3.93902 5.34465L-2.2056e-07 5.34465L-1.72843e-07 4.25301L3.93902 4.25301L3.93902 0.298828L5.04582 0.298828L5.04582 4.25301L9 4.25301L9 5.34465L5.04582 5.34465Z" fill="black"/>
                    </svg> 
                  </span>                   
                </button>
                <div class="collection-filters__dropdown">
                  <div class="page-width">
                    <p class="collection-filters__dropdown-title detail-caps hide-mobile">By {{ block.settings.title }}</p>
                    <div class="collection-filters__dropdown-container">
                      {% assign tag_list = block.settings.filters | split: ',' %}
                        <div class='category-clear-wrapper hide-desktop' id="category-clear-{{ block.settings.title | handleize }}">
                          {% assign category_has_active_filters = false %}
                          {% for category_tag in tag_list %}
                            {% assign active_tags_split = active_tags | split: '+' %}
                            {% assign category_tag_handle = category_tag | handleize %}
  
                            {% if active_tags_split contains category_tag_handle %}
                              {% assign category_has_active_filters = true %}
                              {% break %}
                            {% endif %}
                          {% endfor %}
                          {% if category_has_active_filters %}
                            <button class="collection-filters__clear collection-filters__category-clear text-link hide-desktop" style="order: -1" data-category="{{ block.settings.title | handleize }}">Clear all</button>
                          {% endif %}
                        </div>

                      <div class="collection-filters__dropdown-list" data-category="{{ block.settings.title | handleize }}">
                        {% for category_tag in tag_list %}
                          {% assign active_tags_split = active_tags | split: '+' %}
                          {% assign category_tag_handle = category_tag | handleize %}

                          {% if active_tags_split contains category_tag_handle %}
                            {% assign category_has_active_filters = true %}
                          {% endif %}
                        
                        	{% assign downcase_category = block.settings.title | handleize %}
                          {% if downcase_category == 'color' %}
                            {% assign color_swatch_name = category_tag | handleize | prepend: 'swatch_' | append: '.jpg' %}
                            {% assign color_swatch_image = images[color_swatch_name] %}
                          {% endif %}
                        
                          {% if collection.all_tags contains category_tag %}
                            <button class="collection-filters__tag radio-button body{% if active_tags_split contains category_tag_handle %} active{% endif %}" data-value="{{ category_tag_handle }}">
                              {% if downcase_category == 'color' %}
                                <div class="collection-filters__tag-radio-color" style="background-image: url('{{ color_swatch_image | img_url: '50x' }}')"></div>
                                {{ category_tag }}
                                {% else %}
                                <div class="collection-filters__tag-radio radio-button__indicator"></div>
                                {{ category_tag }}
                              {% endif %}
                            </button>
                        	{% endif %}
                        {% endfor %}
                      </div>
                      <div class="collection-filters__dropdown-buttons hide-mobile hide-desktop">
                        <button class="collection-filters__apply button button--bone" data-category="{{ block.settings.title | handleize }}">Apply Filter</button>
                        <button class="collection-filters__clear button button--ghost" data-category="{{ block.settings.title | handleize }}">Clear</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          <div class="collection-filters__mobile-actions hide-desktop">
            <button class="collection-filters__apply body">Apply Filters <span id='ActiveFilterCountButton'>({{ current_tags | size }})</span></button>
            <button class="collection-filters__clear-all body">Clear</button>
          </div>
        </div>
        <div class="collection-filters__active-tags no-scrollbar" id="CollectionFilterActiveTags">
          {% if active_tags != blank %}
            {% for tag in current_tags %}
              {% assign tag_as_handle = tag | replace: '&#39;', '' | replace: '&#34;', '' | handle %}
              <div class="collection-filters__active-tag caption-neue" data-value="{{ tag_as_handle }}">
                {{ tag }}
                <button class="collection-filters__active-tag-remove">
                  {% render 'icon-close-small' %}
                </button>
              </div>
            {% endfor %}

            <button class="collection-filters__clear-all text-link" >
              Clear all
            </button>
          {% endif %}
        </div>
      </div>
  
      <div class="collection-filters__right">
        <div class="collection-filters__total hide-mobile" id="CollectionFilterProductTotal">
          <p class="detail-caps">{{ collection.products_count }} Product{% if collection.products_count != 1 %}s{% endif %}</p>
        </div>
        <div class="collection-filters__sorting">
          <div class="collection-filters__item">
            <div class="collection-filters__mobile-title hide-desktop">
              <p class="body-large">Sort By</p>
              <button class="collection-filters__sort-close">{% render 'icon-close' %}</button>
            </div>
            <button class="collection-filters__button body hide-mobile">
              Sort By
              {% render 'icon-caret' %}
            </button>
            <div class="collection-filters__dropdown">
              <div class="page-width">
                <p class="collection-filters__dropdown-title detail-caps hide-mobile">Sort By</p>
                <div class="collection-filters__dropdown-container">
                  <div class="collection-filters__dropdown-list" data-category="sort">
                    {% for option in collection.sort_options %}
                      {% assign collection_sort_by = collection.sort_by | default: collection.default_sort_by %}
                      <button class="collection-filters__sort radio-button body{% if option.value == collection_sort_by %} active{% endif %}" data-value="{{ option.value }}">
                        <div class="collection-filters__sort-radio radio-button__indicator"></div>
                        {{ option.name }}
                      </button>
                    {% endfor %}
                  </div>
                  <div class="collection-filters__dropdown-buttons">
                    <button class="collection-filters__sort-apply button button--bone" data-category="sort">Apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </collection-filters> 
{% endif %}

{% schema %}
{
  "name": "Collection Filter",
  "class": "collection-filter-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 24,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    }
  ],
  "blocks": [
    {
      "type": "filter_category",
      "name": "Filter Category",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Category Title"
        },
        {
          "type": "textarea",
          "id": "filters",
          "label": "Tag Filters",
          "info": "Separate each tag with a comma and no spaces. The tag should be written exactly as is in the product admin page."
        }
      ]
    }
  ]
}
{% endschema %}
