{{ 'section-content-blocks.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="content-blocks">
    {% for block in section.blocks %}
      {% if block.type == 'text' %}
        <div class="content-blocks__item content-blocks__text-block {{ block.settings.text_alignment }}" {{ block.shopify_attributes }}>
          {% if block.settings.title %}
            <p class="content-blocks__text-title caption-neue">{{ block.settings.title }}</p>
          {% endif %}
          {% case block.settings.text_size %}
            {% when 'small' %}
              <p class="content-blocks__text body-small">{{ block.settings.text | newline_to_br }}</p>
            {% when 'medium' %}
              <p class="content-blocks__text sh3">{{ block.settings.text | newline_to_br }}</p>
            {% when 'large' %}
              <p class="content-blocks__text h4">{{ block.settings.text | newline_to_br }}</p>
          {% endcase %}
        </div>
      {% elsif block.type == 'cta' %}
        <div class="content-blocks__item content-blocks__cta" {{ block.shopify_attributes }}>
          {% if block.settings.cta_type == 'text' %}
            <a class="text-link" href="{{ block.settings.cta_link }}">{{ block.settings.cta_label }}</a>
          {% else %}
            <a class="button" href="{{ block.settings.cta_link }}">{{ block.settings.cta_label }}</a>
          {% endif %}
        </div>
      {% elsif block.type == 'single_image' %}
        <div class="content-blocks__item content-blocks__single-image-block" {{ block.shopify_attributes }}>
          <div class="content-blocks__single-image">
            {% if block.settings.video != blank %}
              {% assign video = block.settings.video.sources[1].url %}
              {% if video == blank %}
                {% assign video = block.settings.video.sources[0].url %}
              {% endif %}
              <video loop controls playsinline class="content-blocks__single-image-video content-video img-fill" data-video="single-{{ forloop.index }}-1">
                <source src="{{ video }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            {% endif %}
            {% if block.settings.video != blank %}
              <button class="content-blocks__single-image-play content-play" data-video="single-{{ forloop.index }}-1">
                {% render 'lazy-image' image: block.settings.image, fade: true, classes: 'img-fill' %}
                <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3469 40C31.3926 40 40.3469 31.0457 40.3469 20C40.3469 8.95431 31.3926 0 20.3469 0C9.30123 0 0.346924 8.95431 0.346924 20C0.346924 31.0457 9.30123 40 20.3469 40ZM17.1116 25.6037L26.8175 20L17.1116 14.3963V25.6037Z" fill="white"/></svg>
              </button>
            {% else %}
              {% render 'lazy-image' image: block.settings.image, fade: true, classes: 'img-fill' %}
            {% endif %}
          </div>
        </div>
      {% elsif block.type == 'double_image' %}
        <div class="content-blocks__item content-blocks__double-image-block" {{ block.shopify_attributes }}>
          <div class="content-blocks__double-image">
            {% if block.settings.video_1 != blank %}
              {% assign video = block.settings.video_1.sources[1].url %}
              {% if video == blank %}
                {% assign video = block.settings.video_1.sources[0].url %}
              {% endif %}
              <video loop controls playsinline class="content-blocks__double-image-video content-video img-fill" data-video="double-{{ forloop.index }}-1">
                <source src="{{ video }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            {% endif %}
            {% if block.settings.video_1 != blank %}
              <button class="content-blocks__double-image-play content-play" data-video="double-{{ forloop.index }}-1">
                {% render 'lazy-image' image: block.settings.image_1, fade: true, classes: 'img-fill' %}
                <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3469 40C31.3926 40 40.3469 31.0457 40.3469 20C40.3469 8.95431 31.3926 0 20.3469 0C9.30123 0 0.346924 8.95431 0.346924 20C0.346924 31.0457 9.30123 40 20.3469 40ZM17.1116 25.6037L26.8175 20L17.1116 14.3963V25.6037Z" fill="white"/></svg>
              </button>
            {% else %}
              {% render 'lazy-image' image: block.settings.image_1, fade: true, classes: 'img-fill' %}
            {% endif %}
          </div>
          <div class="content-blocks__double-image">
            {% if block.settings.video_2 != blank %}
              {% assign video = block.settings.video_1.sources[1].url %}
              {% if video == blank %}
                {% assign video = block.settings.video_1.sources[0].url %}
              {% endif %}
              <video loop controls playsinline class="content-blocks__double-image-video content-video img-fill" data-video="double-{{ forloop.index }}-2">
                <source src="{{ block.settings.video_2.sources[0].url }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            {% endif %}
            {% if block.settings.video_2 != blank %}
              <button class="content-blocks__double-image-play content-play" data-video="double-{{ forloop.index }}-2">
                {% render 'lazy-image' image: block.settings.image_2, fade: true, classes: 'img-fill' %}
                <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3469 40C31.3926 40 40.3469 31.0457 40.3469 20C40.3469 8.95431 31.3926 0 20.3469 0C9.30123 0 0.346924 8.95431 0.346924 20C0.346924 31.0457 9.30123 40 20.3469 40ZM17.1116 25.6037L26.8175 20L17.1116 14.3963V25.6037Z" fill="white"/></svg>
              </button>
            {% else %}
              {% render 'lazy-image' image: block.settings.image_2, fade: true, classes: 'img-fill' %}
            {% endif %}
          </div>
        </div>
      {% elsif block.type == 'social' %}
        <div class="content-blocks__item content-blocks__social" {{ block.shopify_attributes }}>
          <h2 class="content-blocks__social-title sh2">{{ block.settings.header }}</h2>
          <div class="content-blocks__social-grid swiper">
            <div class="swiper-wrapper">
              {% if block.settings.image_1 != blank %}
                <div class="content-blocks__social-item swiper-slide">
                  <div class="content-blocks__social-item-wrapper">
                    {% assign video = block.settings.video_1.sources[1].url %}
                    {% if video == blank %}
                      {% assign video = block.settings.video_1.sources[0].url %}
                    {% endif %}
                    <video loop controls playsinline class="content-blocks__social-video content-video img-fill" data-video="social-{{ forloop.index }}-1">
                      <source src="{{ video }}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                    {% if block.settings.video_1 != blank %}
                      <button class="content-blocks__social-play content-play" data-video="social-{{ forloop.index }}-1">
                        {% render 'lazy-image' image: block.settings.image_1, fade: true, classes: 'img-fill' %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3469 40C31.3926 40 40.3469 31.0457 40.3469 20C40.3469 8.95431 31.3926 0 20.3469 0C9.30123 0 0.346924 8.95431 0.346924 20C0.346924 31.0457 9.30123 40 20.3469 40ZM17.1116 25.6037L26.8175 20L17.1116 14.3963V25.6037Z" fill="white"/></svg>
                      </button>
                    {% else %}
                      {% render 'lazy-image' image: block.settings.image_1, fade: true, classes: 'img-fill' %}
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if block.settings.image_2 != blank %}
                <div class="content-blocks__social-item swiper-slide">
                  <div class="content-blocks__social-item-wrapper">
                    {% assign video = block.settings.video_2.sources[1].url %}
                    {% if video == blank %}
                      {% assign video = block.settings.video_2.sources[0].url %}
                    {% endif %}
                    <video loop controls playsinline class="content-blocks__social-video content-video img-fill" data-video="social-{{ forloop.index }}-2">
                      <source src="{{ video }}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                    {% if block.settings.video_2 != blank %}
                      <button class="content-blocks__social-play content-play" data-video="social-{{ forloop.index }}-2">
                        {% render 'lazy-image' image: block.settings.image_2, fade: true, classes: 'img-fill' %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3469 40C31.3926 40 40.3469 31.0457 40.3469 20C40.3469 8.95431 31.3926 0 20.3469 0C9.30123 0 0.346924 8.95431 0.346924 20C0.346924 31.0457 9.30123 40 20.3469 40ZM17.1116 25.6037L26.8175 20L17.1116 14.3963V25.6037Z" fill="white"/></svg>
                      </button>
                    {% else %}
                      {% render 'lazy-image' image: block.settings.image_2, fade: true, classes: 'img-fill' %}
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if block.settings.image_3 != blank %}
                <div class="content-blocks__social-item swiper-slide">
                  <div class="content-blocks__social-item-wrapper">
                    {% assign video = block.settings.video_3.sources[1].url %}
                    {% if video == blank %}
                      {% assign video = block.settings.video_3.sources[0].url %}
                    {% endif %}
                    <video loop controls playsinline class="content-blocks__social-video content-video img-fill" data-video="social-{{ forloop.index }}-3">
                      <source src="{{ video }}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                    {% if block.settings.video_3 != blank %}
                      <button class="content-blocks__social-play content-play" data-video="social-{{ forloop.index }}-3">
                        {% render 'lazy-image' image: block.settings.image_3, fade: true, classes: 'img-fill' %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3469 40C31.3926 40 40.3469 31.0457 40.3469 20C40.3469 8.95431 31.3926 0 20.3469 0C9.30123 0 0.346924 8.95431 0.346924 20C0.346924 31.0457 9.30123 40 20.3469 40ZM17.1116 25.6037L26.8175 20L17.1116 14.3963V25.6037Z" fill="white"/></svg>
                      </button>
                    {% else %}
                      {% render 'lazy-image' image: block.settings.image_3, fade: true, classes: 'img-fill' %}
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% elsif block.type == 'featured_product' %}
        <div class="content-blocks__item content-blocks__product" {{ block.shopify_attributes }}>
          <div class="content-blocks__product-image">
            {% render 'lazy-image' image: block.settings.image, fade: true, classes: 'img-fill' %}
            <div class="content-blocks__product-image-content">
              <h2 class="content-blocks__product-image-title h1 h1-small">{{ block.settings.overlay_title }}</h2>
              <p class="content-blocks__product-image-text h4">{{ block.settings.overlay_text }}</p>
            </div>
          </div>
          <div class="content-blocks__product-content">
            <div class="content-blocks__product-container">
              <div class="content-blocks__product-container-image">
                <div class="content-blocks__product-container-tag detail-caps">{{ block.settings.product_tag }}</div>
                {% render 'lazy-image' image: block.settings.product_image, fade: true, classes: 'img-fill' %}
              </div>
              <div class="content-blocks__product-container-text">
                <p class="body-small">{{ block.settings.product_title }}</p>
                <p class="body-small">{{ block.settings.product_price | money_without_trailing_zeros }}</p>
              </div>
              <a href="{{ block.settings.button_link }}" class="button button--full">{{ block.settings.button_label }}</a>
            </div>
          </div>
        </div>
      {% elsif block.type == 'slideshow' %}
        <div class="content-blocks__item content-blocks__slideshow-block" {{ block.shopify_attributes }}>
          <div class="content-blocks__slideshow-arrow">
            <button class="swiper-button swiper-button-prev">
              {% render 'icon-arrow-left' %}
            </button>
          </div>
          <div class="content-blocks__slideshow swiper">
            <div class="swiper-wrapper">
              {% if block.settings.image_1 != blank %}
                <div class="content-blocks__slide swiper-slide">
                  <div class="content-blocks__slide-wrapper">
                    {% render 'lazy-image' image: block.settings.image_1, fade: true, classes: 'img-fill' %}
                  </div>
                </div>
              {% endif %}
              {% if block.settings.image_2 != blank %}
                <div class="content-blocks__slide swiper-slide">
                  <div class="content-blocks__slide-wrapper">
                    {% render 'lazy-image' image: block.settings.image_2, fade: true, classes: 'img-fill' %}
                  </div>
                </div>
              {% endif %}
              {% if block.settings.image_3 != blank %}
                <div class="content-blocks__slide swiper-slide">
                  <div class="content-blocks__slide-wrapper">
                    {% render 'lazy-image' image: block.settings.image_3, fade: true, classes: 'img-fill' %}
                  </div>
                </div>
              {% endif %}
              {% if block.settings.image_4 != blank %}
                <div class="content-blocks__slide swiper-slide">
                  <div class="content-blocks__slide-wrapper">
                    {% render 'lazy-image' image: block.settings.image_4, fade: true, classes: 'img-fill' %}
                  </div>
                </div>
              {% endif %}
              {% if block.settings.image_5 != blank %}
                <div class="content-blocks__slide swiper-slide">
                  <div class="content-blocks__slide-wrapper">
                    {% render 'lazy-image' image: block.settings.image_5, fade: true, classes: 'img-fill' %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="content-blocks__slideshow-arrow">
            <button class="swiper-button swiper-button-next">
              {% render 'icon-arrow-right' %}
            </button>
          </div>
        </div>
      {% elsif block.type == 'partners' %}
        <div class="content-blocks__item content-blocks__partners" {{ block.shopify_attributes }}>
          <h2 class="content-blocks__partners-title sh3">{{ block.settings.title }}</h2>
          <div class="content-blocks__partners-grid">
            {% if block.settings.logo_1 != blank %}
              <div class="content-blocks__partner">
                <div class="content-blocks__partner-image" style="max-height: {{ block.settings.height_1 }}px">
                  {% render 'lazy-image' image: block.settings.logo_1, fade: true, classes: 'img-fill' %}
                </div>
                <p class="content-blocks__partner-text body-small">{{ block.settings.text_1 }}</p>
              </div>
            {% endif %}
            {% if block.settings.logo_2 != blank %}
              <div class="content-blocks__partner">
                <div class="content-blocks__partner-image" style="max-height: {{ block.settings.height_2 }}px">
                  {% render 'lazy-image' image: block.settings.logo_2, fade: true, classes: 'img-fill' %}
                </div>
                <p class="content-blocks__partner-text body-small">{{ block.settings.text_2 }}</p>
              </div>
            {% endif %}
            {% if block.settings.logo_3 != blank %}
              <div class="content-blocks__partner">
                <div class="content-blocks__partner-image" style="max-height: {{ block.settings.height_3 }}px">
                  {% render 'lazy-image' image: block.settings.logo_3, fade: true, classes: 'img-fill' %}
                </div>
                <p class="content-blocks__partner-text body-small">{{ block.settings.text_3 }}</p>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% javascript %}
  const playButtons = document.querySelectorAll('.content-play');
  playButtons.forEach(button => {
    button.addEventListener('click', event => {
      const videoId = button.dataset.video;
      const video = button.parentElement.querySelector(`.content-video[data-video="${videoId}"]`);
      video.currentTime = 0;
      video.play();
      button.remove();
    })
  });

  const socialSlider = new Swiper('.content-blocks__social-grid', {
    slidesPerView: 1.75,
    loop: false,
    spaceBetween: 20,
    watchOverflow: true,
    allowTouchMove: true,
    centeredSlides: true,
    loop: true,
    speed: 400,
    breakpoints: {
      600: {
        slidesPerView: 3,
        spaceBetween: 30,
        allowTouchMove: false,
        centeredSlides: false
      }
    }
  });

  const slideshowSlider = new Swiper('.content-blocks__slideshow', {
    slidesPerView: 1,
    loop: true,
    spaceBetween: 20,
    watchOverflow: true,
    loop: true,
    speed: 400,
    navigation: {
      nextEl: '.content-blocks__slideshow-block .swiper-button-next',
      prevEl: '.content-blocks__slideshow-block .swiper-button-prev',
    },
    breakpoints: {
      769: {
        spaceBetween: 30
      }
    }
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Content Blocks",
    "settings": [
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "info": "Optional"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "text_size",
            "label": "Text Size",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ],
            "default": "small"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              }
            ],
            "default": "left"
          }
        ]
      },
      {
        "type": "cta",
        "name": "CTA",
        "settings": [
          {
            "type": "text",
            "id": "cta_label",
            "label": "CTA Label"
          },
          {
            "type": "url",
            "id": "cta_link",
            "label": "CTA Link"
          },
          {
            "type": "select",
            "id": "cta_type",
            "label": "CTA Type",
            "options": [
              {
                "value": "text",
                "label": "Text"
              },
              {
                "value": "button",
                "label": "Button"
              }
            ],
            "default": "button"
          }
        ]
      },
      {
        "type": "single_image",
        "name": "Single Image / Video",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video",
            "info": "Optional. Image will act as a placeholder until video is played."
          }
        ]
      },
      {
        "type": "double_image",
        "name": "Double Image / Video",
        "settings": [
          {
            "type": "header",
            "content": "Block 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "video",
            "id": "video_1",
            "label": "Video",
            "info": "Optional. Image will act as a placeholder until video is played."
          },
          {
            "type": "header",
            "content": "Block 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "video",
            "id": "video_2",
            "label": "Video",
            "info": "Optional. Image will act as a placeholder until video is played."
          }
        ]
      },
      {
        "type": "social",
        "name": "Social",
        "settings": [
          {
            "type": "header",
            "content": "Header"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "header",
            "content": "Block 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "video",
            "id": "video_1",
            "label": "Video",
            "info": "Optional. Image will act as a placeholder until video is played."
          },
          {
            "type": "header",
            "content": "Block 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "video",
            "id": "video_2",
            "label": "Video",
            "info": "Optional. Image will act as a placeholder until video is played."
          },
          {
            "type": "header",
            "content": "Block 3"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image"
          },
          {
            "type": "video",
            "id": "video_3",
            "label": "Video",
            "info": "Optional. Image will act as a placeholder until video is played."
          }
        ]
      },
      {
        "type": "featured_product",
        "name": "Featured Product",
        "settings": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "overlay_title",
            "label": "Overlay Title"
          },
          {
            "type": "textarea",
            "id": "overlay_text",
            "label": "Overlay Text"
          },
          {
            "type": "header",
            "content": "Product"
          },
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "Product Image"
          },
          {
            "type": "text",
            "id": "product_tag",
            "label": "Product Tag"
          },
          {
            "type": "text",
            "id": "product_title",
            "label": "Product Title"
          },
          {
            "type": "text",
            "id": "product_price",
            "label": "Product Price"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "slideshow",
        "name": "Slideshow",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image 4"
          },
          {
            "type": "image_picker",
            "id": "image_5",
            "label": "Image 5"
          }
        ]
      },
      {
        "type": "partners",
        "name": "Partners",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Our Partners"
          },
          {
            "type": "image_picker",
            "id": "logo_1",
            "label": "Logo 1"
          },
          {
            "type": "range",
            "id": "height_1",
            "min": 20,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Logo 1 Height",
            "default": 25
          },
          {
            "type": "textarea",
            "id": "text_1",
            "label": "Text 1"
          },
          {
            "type": "image_picker",
            "id": "logo_2",
            "label": "Logo 2"
          },
          {
            "type": "range",
            "id": "height_2",
            "min": 20,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Logo 2 Height",
            "default": 25
          },
          {
            "type": "textarea",
            "id": "text_2",
            "label": "Text 2"
          },
          {
            "type": "image_picker",
            "id": "logo_3",
            "label": "Logo 3"
          },
          {
            "type": "range",
            "id": "height_3",
            "min": 20,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Logo 3 Height",
            "default": 25
          },
          {
            "type": "textarea",
            "id": "text_3",
            "label": "Text 3"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Content Blocks"
      }
    ]
  }
{% endschema %}