{{ 'section-contact-emails.css' | asset_url | stylesheet_tag }}

<div class="contact-emails" style="background-color: {{ section.settings.background_color }};">
  <div class="page-width">
    <div class="emails-group">
      {% for block in section.blocks %}
        <div class="item">
          <div class="body">
            <span>{{ block.settings.location }}</span><br/>
            <span class="email">{{ block.settings.email }}</span>
          </div>
          <a class="button button--ghost">{{ section.settings.button_text }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact Emails",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#F2F0E8"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "email_label",
        "default": "Email"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "email",
        "name": "Email",
        "settings": [
          {
            "type": "text",
            "id": "location",
            "label": "Location"
          },
          {
            "type": "text",
            "id": "email",
            "label": "Email"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Contact Emails"
      }
    ]
  }
{% endschema %}
