{{ 'section-customer-account.css' | asset_url | stylesheet_tag }}
<script src="{{ 'account.js' | asset_url }}" defer></script>
{{ 'swell-rewards.js' | asset_url | script_tag }}

<div class="customer account" data-customer-addresses>
  <div>
    <h1 class="text-center title">{{ 'customer.account.title' | t }}</h1>
  </div>

  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/-5gOz8RpODzYo99FGIpnAQ" async></script> 
  <div class="yotpo-widget-instance" data-yotpo-instance-id="203983"></div>

  <div class="customer-wrapper page-width">

    <div class="Custom_Dropdown">
      <a href="javascript:void(0)" class="Js_Link">{{ 'customer.account.details' | t }} {% render 'icon-custom-dropdown' %}</a>
      <ul class="Custom_Dropdown_List sh3">
        <li>{{ 'customer.account.details' | t }}</li>
        <li>{{ 'customer.orders.title' | t }}</li>
        <li><a href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a></li>
      </ul>
    </div>
    
    <div class="tabs desktop-view-tab">
      <a class="btn tab active" data-section="billing_information">
        <span class="lens"></span>
        {{ 'customer.account.details' | t }}
      </a>
  
      <a class="btn tab" data-section="order_history">
        <span class="lens"></span>
        {{ 'customer.orders.title' | t }}
      </a>
  
      <a class="btn tab" href="{{ routes.account_logout_url }}">
        <span class="lens"></span>
        {{ 'customer.log_out' | t }}
      </a>
    </div>

    {% render 'mobile-account' %}

    {% render 'desktop-account' %}
    
  </div>

  {% comment %}
  <div>
    <div>
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>

  </div>
  {% endcomment %}
</div>

<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
</script>
