{{ 'section-editorial-banner.css' | asset_url | stylesheet_tag }}

<div class="editorial-banner">
  <div class="page-width">
    <a href="{{ section.settings.link }}" aria-label="{{ section.settings.link_label }}">
      <div class="editorial-banner__container">
      {% if section.settings.desktop_video != blank %}
        {{ section.settings.desktop_video | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'hero__video hide-mobile' }}
      {% else %}
        {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'hide-mobile' %}
      {% endif %}
    
      {% if section.settings.mobile_video != blank %}
        {{ section.settings.mobile_video | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'hero__video hide-desktop' }}
      {% elsif section.settings.desktop_video != blank %}
       {{ section.settings.desktop_video | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'hero__video hide-desktop' }}
      {% else %}
        {% render 'lazy-image' image: section.settings.mobile_image, fade: true, classes: 'hide-desktop' %}
      {% endif %}
  
        <h2 class="h1 editorial-banner__left-text">
          <span>{{ section.settings.left_text }}</span>
        </h2>
        <h2 class="h1 editorial-banner__right-text">
          <span>{{ section.settings.right_text }}</span>
        </h2>
        
        <div class="editorial-banner__link">
          {% if section.settings.link_label != blank %}
            <a href="{{ section.settings.link }}" class="text-link">{{ section.settings.link_label }}
              {% if section.settings.logo != blank %}
              <span class="text-link-logo">{% render 'lazy-image' image: section.settings.logo %}</span>
              {% endif %}
            </a>
          {% endif %}
        </div>
      </div>
    </a>
  </div>
</div>

{% javascript %}
  let bannerTL = gsap.timeline({
    scrollTrigger: {
      trigger: '.editorial-banner',
      start: "top 90%",
      end: "top 75%"
    }
  });

  bannerTL.from('.editorial-banner', {
    opacity: 0,
    y: 20,
    duration: .8
  })
  .from('.editorial-banner .h1', {
    height: 0,
    duration: 1
  }, '>')
  .to('.editorial-banner .h1', {
    blur: 0,
    duration: 1.2
  }, '-=30%');

{% endjavascript %}

{% schema %}
  {
    "name": "Editorial Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "video",
        "id": "desktop_video",
        "label": "Desktop Video"
      },
      {
        "type": "video",
        "id": "mobile_video",
        "label": "Mobile Video"
      },
      {
        "type": "text",
        "id": "left_text",
        "label": "Left Text"
      },
      {
        "type": "text",
        "id": "right_text",
        "label": "Right Text"
      },
      {
        "type": "text",
        "id": "link_label",
        "label": "Link Label"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "(Optional) Inline Logo"
      }
    ],
    "presets": [
      {
        "name": "Editorial Banner"
      }
    ]
  }
{% endschema %}