<section class="events-book event-block" data-section="book">
  <h2 class="event-title sh3">{{ section.settings.title }}</h2>
  <div class="events-book__blocks">
    {% for block in section.blocks %}
      <a href="{{ block.settings.link }}" class="events-book__block" {{ block.shopify_attributes }}>
        <div class="events-book__block-content fade-in-up">
          {% if block.settings.subtitle != blank %}
            <p class="events-book__subtitle detail">{{ block.settings.subtitle }}</p>
          {% endif %}
          {% if block.settings.title != blank %}
            <h2 class="events-book__title h4">{{ block.settings.title }}</h2>
          {% endif %}
          {% if block.settings.link_label != blank %}
            <button class="events-book__link text-link">{{ block.settings.link_label }}</button>
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Events Book",
    "class": "event-block",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Book a Service"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "link_label",
            "label": "Link Label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}