{{ 'section-fit-guide.css' | asset_url | stylesheet_tag }}

{% if section.settings.use_page_width %}
  <div class="page-width">
{% endif %}
  <div class="fit-guide-section">
    <div class="fit-guide-section__left">
      <div class="fit-guide-section__left-top-text">
        <h2 class="h1">The</h2>
        <h2 class="h1{% if section.settings.offset_text %} offset{% endif %}">Fit</h2>
      </div>
      <div class="fit-guide-section__left-bottom-text">
        <h2 class="h1">Guide</h2>
      </div>
      <div class="fit-guide-section__images swiper fade-in-up">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="fit-guide-section__image swiper-slide" {{ block.shopify_attributes }}>
              <div class="fit-guide-section__image-content">
                <div class="fit-guide-section__image-wrapper">
                  {% render 'lazy-image' image: block.settings.image, fade: true, classes: 'img-fill' %}
                </div>
                {% if block.settings.fit_tip != blank %}
                  <p class="caption-neue hide-mobile">Fit Tip</p>
                  <p class="body hide-mobile">{{ block.settings.fit_tip }}</p>
                {% endif %}
                {% if block.settings.shop_link != blank %}
                  <a href="{{ block.settings.shop_link }}" class="text-link hide-mobile">Shop Now</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="fit-guide-section__right">
      <div class="fit-guide-section__content">
        <div class="fit-guide-section__content-slider swiper fade-in-up">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="fit-guide-section__content-item swiper-slide" {{ block.shopify_attributes }}>
                <div class="fit-guide-section__content-item-wrapper">
                  <h2 class="fit-guide-section__content-title h3 hide-mobile">{{ block.settings.title }}</h2>
                  <h2 class="fit-guide-section__content-title h3 hide-desktop">{{ block.settings.short_title }}</h2>
                  <p class="fit-guide-section__content-short-description sh1">
                    {% assign split_description = block.settings.short_description | split: ',' %}
                    {% for descriptor in split_description %}
                      {{ descriptor }}&nbsp;&nbsp;
                    {% endfor %}
                  </p>
                  <p class="fit-guide-section__content-description body-large hide-mobile">{{ block.settings.description }}</p>
                  <div class="fit-guide-section__content-stats">
                    {% if block.settings.fit != blank %}
                      <div class="fit-guide-section__content-stat">
                        <p class="detail-caps">Fit</p>
                        <p class="body-small">{{ block.settings.fit }}</p>
                      </div>
                    {% endif %}
                    {% if block.settings.padding != blank %}
                      <div class="fit-guide-section__content-stat">
                        <p class="detail-caps">Padding</p>
                        <p class="body-small">{{ block.settings.padding }}</p>
                      </div>
                    {% endif %}
                    {% if block.settings.coverage != blank %}
                      <div class="fit-guide-section__content-stat">
                        <p class="detail-caps">Coverage</p>
                        <p class="body-small">{{ block.settings.coverage }}</p>
                      </div>
                    {% endif %}
                    {% if block.settings.style != blank %}
                      <div class="fit-guide-section__content-stat">
                        <p class="detail-caps">Style</p>
                        <p class="body-small">{{ block.settings.style }}</p>
                      </div>
                    {% endif %}
                    {% if block.settings.fabric != blank %}
                      <div class="fit-guide-section__content-stat">
                        <p class="detail-caps">Fabric</p>
                        <p class="body-small">{{ block.settings.fabric }}</p>
                      </div>
                    {% endif %}
                  </div>
                  {% unless block.settings.shop_link == blank and block.settings.explore_link == blank %}
                    <div class="fit-guide-section__content-buttons">
                      {% if block.settings.shop_link != blank %}
                        <a href="{{ block.settings.shop_link }}" class="text-link hide-desktop">Shop Now</a>
                        {% endif %}
                      {% if block.settings.explore_link != blank %}
                        <a href="{{ block.settings.explore_link }}" class="text-link">Explore the Fit</a>
                      {% endif %}
                    </div>
                  {% endunless %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% if section.blocks.size > 1 %}
        <div class="fit-guide-section__navigation">
          <div class="fit-guide-section__navigation-wrapper hide-mobile">
            <button class="swiper-button swiper-button-prev">
              {% render 'icon-arrow-left' %}
            </button>
            <div class="fit-guide-section__navigation-slider swiper">
              <div class="swiper-wrapper">
                {% for block in section.blocks %}
                  <button class="fit-guide-section__navigation-item caption-sunset swiper-slide" {{ block.shopify_attributes }}>{{ block.settings.short_title }}</button>
                {% endfor %}
              </div>
            </div>
            <button class="swiper-button swiper-button-next">
              {% render 'icon-arrow-right' %}
            </button>
          </div>
          <div class="fit-guide-section__navigation-mobile hide-desktop">
            <p class="btn">Explore the</p>
            <div class="fit-guide-section__navigation-mobile-select">
              <select class="fit-guide-section__select caption-sunset">
                {% for block in section.blocks %}
                  <option value="{{ forloop.index0 }}">{{ block.settings.short_title }}</option>
                {% endfor %}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% if section.settings.use_page_width %}
  </div>
{% endif %}

{% javascript %}
  const fitGuideNavigationSlider = new Swiper('.fit-guide-section__navigation-slider', {
    slidesPerView: 1,
    loop: true,
    spaceBetween: 20,
    centeredSlides: true,
    slideToClickedSlide: true,
    navigation: {
      nextEl: '.fit-guide-section__navigation .swiper-button-next',
      prevEl: '.fit-guide-section__navigation .swiper-button-prev',
    },
    speed: 900,
    breakpoints: {
      1150: {
        slidesPerView: 3,
      }
    }
  }); 

  const fitGuideContentSlider = new Swiper('.fit-guide-section__content-slider', {
    loop: true,
    spaceBetween: 20,
    effect: 'fade',
    allowTouchMove: false,
    speed: 800
  });

  const fitGuideImageSlider = new Swiper('.fit-guide-section__images', {
    loop: true,
    spaceBetween: 20,
    effect: 'fade',
    allowTouchMove: false,
    speed: 800
  });

  // Sync sliders with navigation
  fitGuideNavigationSlider.on('slideChange', slider => {
    let idx = slider.realIndex;

    fitGuideContentSlider.slideToLoop(idx);
    fitGuideImageSlider.slideToLoop(idx);
  });

  // Sync sliders with mobile
  var mobileSelect = document.querySelector('.fit-guide-section__select');
  mobileSelect.addEventListener('change', event => {
    let idx = Number(event.target.value);

    fitGuideContentSlider.slideToLoop(idx);
    fitGuideImageSlider.slideToLoop(idx);
  });
{% endjavascript %} 

{% schema %}
  {
    "name": "Fit Guide",
    "class": "fit-guide-section-wrapper",
    "settings": [
      {
        "type": "checkbox",
        "id": "offset_text",
        "label": "Offset Fit Guide Text"
      },
      {
        "type": "checkbox",
        "id": "use_page_width",
        "label": "Use Page Width"
      }
    ],
    "blocks": [
      {
        "type": "fit",
        "name": "Fit",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "short_title",
            "label": "Short Title",
            "info": "This will be used for the navigation."
          },
          {
            "type": "text",
            "id": "short_description",
            "label": "Short Description",
            "info": "Separate with commas and no spaces."
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "text",
            "id": "fit",
            "label": "Fit"
          },
          {
            "type": "text",
            "id": "padding",
            "label": "Padding"
          },
          {
            "type": "text",
            "id": "coverage",
            "label": "Coverage"
          },
          {
            "type": "text",
            "id": "style",
            "label": "Style"
          },
          {
            "type": "text",
            "id": "fabric",
            "label": "Fabric"
          },
          {
            "type": "textarea",
            "id": "fit_tip",
            "label": "Fit Tip"
          },
          {
            "type": "url",
            "id": "shop_link",
            "label": "Shop Link"
          },
          {
            "type": "url",
            "id": "explore_link",
            "label": "Explore Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Fit Guide"
      }
    ]
  }
{% endschema %}