<div class="page-width">
  <div class="fit-dictionary">
    <div class="fit-dictionary__categories">
      <div class="fit-dictionary__categories-sticky hide-mobile">
        <p class="detail-caps">Categories</p>
        <button class="fit-dictionary__category body-large active" data-category="all">
          <div class="active-glow"></div>
          All
        </button>
        {% assign categories = section.settings.categories | split: ',' %}
        {% for category in categories %}
          <button class="fit-dictionary__category body-large" data-category="{{ category | handleize }}">
            <div class="active-glow"></div>
            {{ category }}
          </button>
        {% endfor %}
      </div>
    </div>
    {% assign prev_letter = '' %}
    <div class="fit-dictionary__list">
      {% for block in section.blocks %}
        {% assign letter = block.settings.title | slice: 0 %}
        {% assign next_letter = section.blocks[forloop.index].settings.title | slice: 0 %}

        {% if prev_letter != letter or forloop.first %}
          <div class="fit-dictionary__item-group" data-letter="{{ letter }}">
        {% endif %}

        <div class="fit-dictionary__item" {% if block.settings.category != blank %} data-category="{{ block.settings.category | handleize }}"{% endif %}>
          <h4>{{ block.settings.title }}</h4>
          <p>{{ block.settings.text }}</p>
        </div>

        {% if letter != next_letter or forloop.last %}
          </div>
        {% endif %}

        {% assign prev_letter = letter %}
      {% endfor %}
    </div>
  </div>
</div>

{% javascript %}
  const categoryButtons = document.querySelectorAll('.fit-dictionary__category');

  categoryButtons.forEach(categoryButton => {
    categoryButton.addEventListener('click', event => {
      const category = event.currentTarget.dataset.category;
      const activeCategoryButton = document.querySelector(`.fit-dictionary__category.active`);
      const allItems = document.querySelectorAll('.fit-dictionary__item');
      
      activeCategoryButton.classList.remove('active');
      event.currentTarget.classList.add('active');

      allItems.forEach(item => {
        const currentCategory = item.dataset.category;

        item.classList.remove('hidden');
        if (category != currentCategory && category != 'all') {
          item.classList.add('hidden');
        }
      });
      
    });
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Fit Dictionary",
    "settings": [
      {
        "type": "textarea",
        "id": "categories",
        "label": "Categories",
        "info": "Separate each category with a comma and no space. These must match the text in the blocks exactly."
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "category",
            "label": "Category"
          }
        ]
      }
    ]
  }
{% endschema %}