<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>

<header class="header header--{{ section.settings.logo_position }} page-width">

  <div class="mobile__wrap">  
    {%- if section.settings.menu != blank -%}
      <header-drawer>
        <div class="menu-drawer-container">
          <button class="js-open-menu header__icon header__icon--menu" aria-label="Menu">
            {% render 'icon-hamburger' %}
          </button>
          <div class="menu-drawer__overlay"></div> 
          <div id="menu-drawer" class="menu-drawer" tabindex="-1" aria-hidden="true">
            <div class="menu-drawer__inner-container">
              {% comment %}
              <div class="menu-drawer__header">
                <div class="mobile-search">
                  {% if settings.ss_enable %}
                    <form action="{{ collections[settings.ss_collection_handle].url }}" method="get" role="search" class="header__search-form">
                      <div class="header__search-group">
                        <input class="header__search-input-mobile" type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search here..." isp_ignore>
                        <button class="header__search-button" aria-label="{{ 'general.search.search' | t }}">
                          {% render 'icon-search' %}
                        </button>
                      </div>
                    </form>
                  {% else %}
                    <form action="/search" method="get" role="search" class="header__search-form">
                      <div class="header__search-group">
                        <input class="header__search-input-mobile" type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search here...">
                        <input type="hidden" name="options[prefix]" value="last">
                        <input type="hidden" name="type" value="product" />
                        <button class="header__search-button" aria-label="{{ 'general.search.search' | t }}">
                          {% render 'icon-search' %}
                        </button>
                      </div>
                    </form>
                  {% endif %}
                </div>
                <button class="js-close-menu header__icon header__icon--close" aria-label="Menu">
                  {% render 'icon-close' %}
                </button>
              </div>
              {% endcomment %}
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu list-menu list-unstyled" role="list">
                    {%- for link in section.settings.mobile_menu.links -%}
                      <li class="menu-drawer__menu-item--top">
                        {%- if link.links != blank -%}
                          <div class="menu-drawer__menu-item list-menu__item body{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                            {% if link.title contains 'Shop All' %}
                              Shop
                              <a class="shop-all-link link" href="/collections/shop-all">Shop All</a>
                            {% else %}
                              {{ link.title | escape }}
                            {% endif %}
                          </div>
                          <div class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <ul class="menu-drawer__menu menu-drawer__menu--middle list-menu list-unstyled" role="list" tabindex="-1">
                                {%- for childlink in link.links -%}
                                  <li class="menu-drawer__menu-item--middle">
                                    {%- if childlink.links == blank -%}
                                      <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                        {{ childlink.title | escape }}
                                      </a>
                                    {%- else -%}
                                      <button class="menu-drawer__menu-item link link--text list-menu__item">
                                        {{ childlink.title | escape }}
                                        <div class="menu-drawer__menu-control"></div>
                                      </button>
                                      <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu menu-drawer__submenu--bottom motion-reduce">
                                        <ul class="menu-drawer__menu menu-drawer__menu--bottom list-menu list-unstyled" role="list" tabindex="-1">
                                          {%- for grandchildlink in childlink.links -%}
                                            <li class="menu-drawer__menu-item--bottom">
                                              <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                {{ grandchildlink.title | escape }}
                                              </a>
                                            </li>
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                    {%- endif -%}
                                  </li>
                                {%- endfor -%}
                              </ul>
                          </div>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text body{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {% if link.title contains 'Shop All' %}
                              Shop
                              <a class="shop-all-link link" href="/collections/shop-all">Shop All</a>
                            {% else %}
                              {{ link.title | escape }}
                            {% endif %}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                  <div class="currency1 mobile-country-switcher">
                            {%- render 'country-switcher' -%}
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header-drawer>
    {%- endif -%}
    <div class="mobile__search">
      {% render 'mobile-search' %}
    </div>
  </div>

  <!-- Logo -->
  <div class="header__logo">
    <a href="{% if section.settings.logo_link %}{{ section.settings.logo_link }}{% else %}{{ routes.root_url }}{% endif %}" class="header__logo-link">
      <span class="visually-hidden">{{ shop.name }}</span>
      <div class="header__logo-wrapper">
        {%- if section.settings.svg_logo != blank -%}
          <div class="header__svg-logo">
            {{ section.settings.svg_logo }}
          </div>
        {%- else -%}
          {%- if section.settings.logo != blank -%}
            {%- assign image_size = section.settings.logo_width | append: 'x' -%}
            <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              src="{{ section.settings.logo | img_url: image_size }}"
              loading="lazy"
              class="header__heading-logo"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        {%- endif -%}
      </div>
    </a>
  </div>

  {% style %}
    .header__logo {
      width: {{ section.settings.logo_width }}px;
    }

    @media screen and (max-width: 768px) {
      .header__logo {
        width: {{ section.settings.mobile_logo_width }}px;
      } 
    }
  {% endstyle %}

  <!-- Navigation -->
  {%- if section.settings.menu != blank -%}
    <nav class="header__menu">
      <ul class="header__menu-list" role="list">
        {%- for link in section.settings.menu.links -%}

          {%- assign downcased_link_title = link.title | downcase | strip -%}
          {%- assign mega_menu_names = '' -%}
  
          {%- for block in section.blocks -%}
            {%- if block.type == 'mega_menu' -%}
              {%- assign trim_mega_menu_name = block.settings.title | strip -%}
              {%- assign mega_menu_names = mega_menu_names | append: trim_mega_menu_name | append: ',' -%}
            {%- endif -%}
          {%- endfor -%}
  
          {%- assign mega_menu_names = mega_menu_names | downcase | split: ',' | compact -%}
          
          {%- unless mega_menu_names contains downcased_link_title -%}
            <li>
              {%- if link.links != blank -%}
                <div class="header__menu-item header__menu-item--has-dropdown btn">
                  <span {% if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  {% render 'icon-caret' %}
                </div>
                <ul class="header__submenu" role="list" tabindex="-1">
                  {%- for childlink in link.links -%}
                    <li>
                      <a href="{% if childlink.url != blank %}{{ childlink.url }}{% else %}#{% endif %}" class="header__submenu-item{% if childlink.current %} header__submenu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                        {{ childlink.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- else -%}
                <a href="{{ link.url }}" class="header__menu-item btn"{% if link.current %} aria-current="page"{% endif %}>
                  {{ link.title | escape }}
                </a>
              {%- endif -%}
            </li>
          {%- else -%}
            <li class="header__mega-menu-wrapper">
              <a href="{{ link.url }}" class="header__menu-item header__menu-item--mega btn"{% if link.current %} aria-current="page"{% endif %}>
                {{ link.title | escape }}
              </a>

              {%- for block in section.blocks -%}
                {%- assign trim_mega_menu_name = block.settings.title | strip -%}
                {%- assign downcased_mega_menu_name = trim_mega_menu_name | downcase -%}
                {%- assign mega_menu_names = mega_menu_names | append: trim_mega_menu_name | append: ',' -%}
                
                {%- if downcased_mega_menu_name == downcased_link_title -%}
                  <div class="header__mega-menu-outer">
                    <div class="header__mega-menu">
                      <div class="page-width">
                        <div class="header__mega-menu-container">
                          <div class="header__mega-menu-links{% if block.settings.image == blank %} full-width{% endif %}">
                            {% for child_link in link.links %}
                              <div class="header__mega-menu-group">
                                <p class="detail-caps">{{ child_link.title }}</p>
                                <ul class="header__mega-menu-group-links" role="list">
                                  {% for grandchild_link in child_link.links %}
                                    <li>
                                      <a href="{{ grandchild_link.url }}" class="body" aria-label="{{ grandchild_link.title }}">{{ grandchild_link.title }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              </div>
                            {% endfor %}
                          </div>
                          <a href="{{ block.settings.shop_all_link }}" aria-label="shop all" class="button button--bone">Shop All</a>
                        </div>
                      </div>
                      {% if block.settings.image != blank %}
                        <div class="header__mega-menu-image">
                          {% render 'lazy-image' image: block.settings.image, fade: true, classes: 'img-fill' %}
                          <div class="header__mega-menu-button">
                            <a href="{{ block.settings.button_overlay_link }}" class="button button--white">{{ block.settings.button_overlay_label }}</a>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </li>
            <div class="header__mega-menu-overlay"></div>
          {%- endunless -%}
        {%- endfor -%}
      </ul>
    </nav>
  {%- endif -%}

  <!-- Icons -->
  <div class="header__icons">
    {% if section.settings.secondary_menu != blank %}
      <ul class="header__offset-links" role="list">
        {% for link in section.settings.secondary_menu.links %}
          <li>
            <a href="{{ link.url }}" class="header__menu-item btn"{% if link.current %} aria-current="page"{% endif %}>
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if template != 'cart' %}
      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header__icon header__icon--account"
        >
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}
      <button class="js-open-cart header__icon header__icon--cart" id="cart-icon-bubble-header" aria-label="Open Cart Drawer">
        {% render 'icon-cart' %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </button>
    {% else %}
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart" id="cart-icon-bubble-header">
        {%- render 'icon-cart' -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    {% endif %}

    <div class="currency1 desktop-country-switcher">
        {% comment %}{% include 'new-currency-picker' %}{% endcomment %}
        {%- render 'country-switcher' -%}
     </div>
    
  </div>

  <div class="header__search">
    <div class="page-width">
      <div class="header__search-container">
        {% if settings.ss_enable %}
          <form action="{{ collections[settings.ss_collection_handle].url }}" method="get" role="search" class="header__search-form">
            <div class="header__search-group">
              <input class="header__search-input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search here..." isp_ignore />
              <button class="header__search-button" aria-label="{{ 'general.search.search' | t }}">
                {% render 'icon-search' %}
              </button>
            </div>
          </form>
        {% else %}
          <form action="/search" method="get" role="search" class="header__search-form">
            <div class="header__search-group">
              <input class="header__search-input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search here..." />
              <input type="hidden" name="options[prefix]" value="last" />
              <input type="hidden" name="type" value="product" /> 
              <button class="header__search-button" aria-label="{{ 'general.search.search' | t }}">
                {% render 'icon-search' %}
              </button>
            </div>
          </form>
        {% endif %}
        <button class="js-close-search header__search-close">
          {% render 'icon-close' %}
        </button>
      </div>
    </div>
  </div>
</header>


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{% comment %}
{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}
{% endcomment %}

{% if section.settings.transparent_header %}
<style>
  @media screen and (min-width: 769px) {
    .template-index .shopify-section-header:not(.scrolled) {
      background: transparent;
      border: transparent;
    }

    .template-index .shopify-section-header:hover  {
      background: white;
      border-color: #F2F2F2;
    }
  
    .template-index #MainContent {
      margin-top: -65px;
    }
    
    .template-index .shopify-section-header:not(.scrolled) .header__svg-logo svg {
      color: white;
    }
  
    .template-index .shopify-section-header:not(.scrolled):hover .header__icon svg path,
    .template-index .shopify-section-header .header__icon svg {
      stroke: black;
    }
  
    .template-index .shopify-section-header:not(.scrolled) .header__icon svg path {
      stroke: white;
    }
  
    .template-index .shopify-section-header:hover .header__svg-logo svg {
      color: black;
    }
  }

  .template-index .shopify-section-header:not(.scrolled) .header__menu-item {
    color: white;
  }
  
  .template-index .shopify-section-header:hover .header__menu-item {
    color: black;
  }

  @media screen and (min-width: 769px) {
    .template-index .shopify-section-header:not(.scrolled) .header__icon {
      color: white;
    }
  
    .template-index .shopify-section-header:hover .header__icon {
      color: black;
    }
  }

  .template-index .shopify-section-header:not(.scrolled) .wk-icon__svg {
    stroke: white !important;
  }

  .template-index .shopify-section-header:not(.scrolled) .disclosure__button {
    color: white !important;
  }
</style>
{% endif %}

{% javascript %}
  // Transparent header on scroll
  const header =  document.querySelector('.shopify-section-header');
  const scrollPoint = document.getElementById('MainContent');

  document.addEventListener('scroll', function(e) {
    const scrollPosition = window.scrollY;

    if (scrollPosition > scrollPoint.offsetTop) {
      header.classList.add('scrolled');
    } else {
      header.classList.remove('scrolled');
    }
  });

  (() => {
    const scrollPosition = window.scrollY;

    if (scrollPosition > scrollPoint.offsetTop) {
      header.classList.add('scrolled');
    } else {
      header.classList.remove('scrolled');
    }
  })();

  // Search dropdown
  const openSearch = document.querySelector('.js-open-search');
  const closeSearch = document.querySelector('.js-close-search');
  const search = document.querySelector('.header__search');
  const searchInput = document.querySelector('.header__search .header__search-input');
  

  openSearch.addEventListener('click', () => {
    console.log('asdlfkjhas')
    if (search.classList.contains('is-visible')) {
      search.classList.remove('is-visible');
    } else {
      search.classList.add('is-visible');
      searchInput.setAttribute('tabindex', '0');
      setTimeout(function() {
        searchInput.focus();
      }, 500)
    }
  });

  closeSearch.addEventListener('click', () => {
    search.classList.remove('is-visible');
  });
{% endjavascript %}

{% schema %}
{
  "name": "Header",
  "class": "shopify-section-header",
  "settings": [
    {
      "type": "checkbox",
      "id": "transparent_header",
      "label": "Enable transparent header",
      "default": true
    },
    {
      "type": "textarea",
      "id": "svg_logo",
      "label": "SVG Logo",
      "info": "Optional. This will override logo image picker."
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 150,
      "unit": "px",
      "label": "Logo Width"
    },
    {
      "type": "range",
      "id": "mobile_logo_width",
      "min": 50,
      "max": 250,
      "step": 5,
      "default": 100,
      "unit": "px",
      "label": "Mobile Logo Width"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left",
      "label": "Logo Position"
    },
    {
      "type": "url",
      "id": "logo_link",
      "label": "Logo Link"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Main Menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu",
      "label": "Secondary Menu"
    },
    {
      "type": "link_list",
      "id": "mobile_menu",
      "label": "Mobile Menu"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu Item",
          "info": "Enter menu item to apply a mega menu dropdown."
        },
        {
          "type": "url",
          "id": "shop_all_link",
          "label": "Shop All Link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "button_overlay_label",
          "label": "Button Overlay Label"
        },
        {
          "type": "url",
          "id": "button_overlay_link",
          "label": "Button Overlay Link"
        }
      ]
    }
  ]
}
{% endschema %}
{%- render 'country-switcher-global' -%}