{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}

{% assign show_filters = section.settings.show_filters %}

<div class="main-blog">
  <div class="page-width">
    <div class="main-blog__header{% if show_filters %} show-filters{% endif %}">
      {% assign title_split = blog.title | split: ' ' %}
      <h1 class="hide-mobile">{{ blog.title | escape }}</h1>
      <h1 class="hide-desktop">
        <span>
          {% for word in title_split %}
            {% unless forloop.last %}
              {{ word }} 
            {% endunless %}
          {% endfor %}
        </span>
        <span>{{ title_split[-1] }}</span>
      </h1>
      <p class="body-large hide-mobile">{{ section.settings.subtext }}</p>
    </div>

    <div class="main-blog__content{% if show_filters %} show-filters{% endif %}">

      {% if show_filters %}
        <div class="main-blog__filters-wrapper no-scrollbar">
          <div class="main-blog__filters">
            <p class="detail-caps hide-mobile">Categories</p>
            <a href="{{ blog.url }}" class="body-large{% unless current_tags %} active{% endunless %}">
              {% unless current_tags %}<div class="active-glow"></div>{% endunless %}
              <span>All</span>
            </a>
            {% for tag in blog.all_tags %}
              <a href="{{ blog.url }}/tagged/{{ tag.title | handleize }}" class="body-large{% if current_tags contains tag %} active{% endif %}">
                {% if current_tags contains tag %}<div class="active-glow"></div>{% endif %}
                <span>{{ tag.title }}</span>
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <div class="main-blog__articles">
        <p class="body-large hide-desktop">{{ section.settings.subtext }}</p>

        {% paginate blog.articles by 12 %}
          {% for article in blog.articles %}
            <div class="main-blog__article">
              {% render 'article-card', article: article %}
            </div>
          {% endfor %}

          <div class="main-blog__pagination">
            {% if paginate.pages > 1 %}
              {% render 'pagination', paginate: paginate %}
            {% endif %}
          </div>
        {% endpaginate %}
      </div>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "text",
      "id": "subtext",
      "label": "Subtext"
    },
    {
      "type": "checkbox",
      "id": "show_filters",
      "label": "Show Filters"
    }
  ]
}
{% endschema %}
