{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}
{{ 'component-collection-filters.css' | asset_url | stylesheet_tag }}

<script src="{{ 'collection-filters.js' | asset_url }}" defer="defer"></script>

<div class="collection-header">
  <div class="page-width">
    <div class="collection-header__container">
      <h2>{{ collection.title }}</h2>
      <p class="body-large">We’re on vacation all year long.</p>
    </div>
  </div>
</div>

{% assign active_tags = '' %}

{% for tag in current_tags %}
  {% assign tag_as_handle = tag | replace: '&#39;', '' | replace: '&#34;', '' | handle %}
  {% assign active_tags = active_tags | append: tag_as_handle %}

  {% unless forloop.last %}
    {% assign active_tags = active_tags | append: '+' %}
  {% endunless %}
{% endfor %}

<collection-filters class="collection-filters" data-collection-url="{{ collection.url }}" data-current-tags="{{ active_tags }}" data-current-sort="{{ collection.sort_by | default: collection.default_sort_by }}">
  <div class="collection-filters__overlay"></div>
  <div class="collection-filters__container page-width">

    <div class="collection-filters__mobile-buttons hide-desktop">
      <button class="collection-filters__mobile-button body open-filters">Filter&nbsp;&nbsp;&nbsp;+</button>
      <button class="collection-filters__mobile-button body open-sort">Sort&nbsp;&nbsp;&nbsp;+</button>
    </div>

    <div class="collection-filters__left">
      <div class="collection-filters__categories">
        <p class="collection-filters__title detail-caps hide-mobile">Filters</p>
        <div class="collection-filters__mobile-title hide-desktop">
          <p class="body-large">Filters</p>
          <button class="collection-filters__close">{% render 'icon-close' %}</button>
        </div>
        {% for block in section.blocks %}
          <div class="collection-filters__item">
            <button class="collection-filters__button body">
              {{ block.settings.title }}
              {% render 'icon-caret' %}
            </button>
            <div class="collection-filters__dropdown">
              <div class="page-width">
                <p class="collection-filters__dropdown-title detail-caps hide-mobile">By {{ block.settings.title }}</p>
                <div class="collection-filters__dropdown-container">
                  <div class="collection-filters__dropdown-list" data-category="{{ block.settings.title | handleize}}">
                    {% assign tag_list = block.settings.filters | split: ',' %}
                    {% for category_tag in tag_list %}
                      {% assign active_tags_split = active_tags | split: '+' %}
                      {% assign category_tag_handle = category_tag | handleize %}
                      <button class="collection-filters__tag radio-button body{% if active_tags_split contains category_tag_handle %} active{% endif %}" data-value="{{ category_tag_handle }}">
                        <div class="collection-filters__tag-radio radio-button__indicator"></div>
                        {{ category_tag }}
                      </button>
                    {% endfor %}
                  </div>
                  <div class="collection-filters__dropdown-buttons hide-mobile">
                    <button class="collection-filters__apply button button--bone" data-category="{{ block.settings.title | handleize }}">Apply Filter</button>
                    <button class="collection-filters__clear button button--ghost" data-category="{{ block.settings.title | handleize }}">Clear</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="collection-filters__mobile-actions">
          <button class="collection-filters__clear-all body">Clear</button>
          <button class="collection-filters__apply body">Apply Filters</button>
        </div>
      </div>
      <div class="collection-filters__active-tags" id="CollectionFilterActiveTags">
        {% if active_tags != blank %}
          {% for tag in current_tags %}
            {% assign tag_as_handle = tag | replace: '&#39;', '' | replace: '&#34;', '' | handle %}
            <div class="collection-filters__active-tag caption-neue" data-value="{{ tag_as_handle }}">
              {{ tag }}
              <button class="collection-filters__active-tag-remove">
                {% render 'icon-close-small' %}
              </button>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="collection-filters__right">
      <div class="collection-filters__total" id="CollectionFilterProductTotal">
        <p class="detail-caps">{{ collection.products_count }} Product{% if collection.products_count != 1 %}s{% endif %}</p>
      </div>
      <div class="collection-filters__sorting">
        <div class="collection-filters__item">
          <div class="collection-filters__mobile-title hide-desktop">
            <p class="body-large">Sort By</p>
            <button class="collection-filters__sort-close">{% render 'icon-close' %}</button>
          </div>
          <button class="collection-filters__button body hide-mobile">
            Sort By
            {% render 'icon-caret' %}
          </button>
          <div class="collection-filters__dropdown">
            <div class="page-width">
              <p class="collection-filters__dropdown-title detail-caps hide-mobile">Sort By</p>
              <div class="collection-filters__dropdown-container">
                <div class="collection-filters__dropdown-list" data-category="sort">
                  {% for option in collection.sort_options %}
                    {% assign collection_sort_by = collection.sort_by | default: collection.default_sort_by %}
                    <button class="collection-filters__sort radio-button body{% if option.value == collection_sort_by %} active{% endif %}" data-value="{{ option.value }}">
                      <div class="collection-filters__sort-radio radio-button__indicator"></div>
                      {{ option.name }}
                    </button>
                  {% endfor %}
                </div>
                <div class="collection-filters__dropdown-buttons">
                  <button class="collection-filters__sort-apply button button--bone" data-category="sort">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</collection-filters> 


{% comment %}
{{ 'component-filters.css' | asset_url | stylesheet_tag }}
<script src="{{ 'filters.js' | asset_url }}" defer="defer"></script>

<div id="main-collection-filters" data-id="{{ section.id }}">
  {% render 'filters', results: collection, enable_filtering: true, enable_sorting: true, collapse_on_larger_devices: section.settings.collapse_on_larger_devices %}
</div>
{% endcomment %}


<div id="ProductGridContainer" data-id="{{ section.id }}">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {%- if collection.products.size == 0 -%}
      <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
        <div class="loading-overlay">
          <div class="loading-overlay__spinner">
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>
        <div class="title-wrapper center">
          <h2 class="title title--primary">
            {{ 'sections.collection_template.empty' | t }}<br>
            {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
          </h2>
        </div>
      </div>
    {%- else -%}
      <div class="collection page-width">
        <div class="loading-overlay gradient"></div>

        <ul id="product-grid" data-id="{{ section.id }}" class="
          product-grid">
          {%- for product in collection.products -%}
            <li class="product-grid__item">
              {% render 'product-card',
                product_card_product: product,
                media_size: section.settings.image_ratio,
                show_secondary_image: section.settings.show_secondary_image,
                add_image_padding: section.settings.add_image_padding,
                show_vendor: section.settings.show_vendor,
                show_image_outline: section.settings.show_image_outline,
                show_rating: section.settings.show_rating
              %}
            </li>
          {%- endfor -%}
        </ul>

        {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate, anchor: '' %}
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "Collection",
  "class": "collection-grid-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 24,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    }
  ],
  "blocks": [
    {
      "type": "filter_category",
      "name": "Filter Category",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Category Title"
        },
        {
          "type": "textarea",
          "id": "filters",
          "label": "Tag Filters",
          "info": "Separate each tag with a comma and no spaces. The tag should be written exactly as is in the product admin page."
        }
      ]
    }
  ]
}
{% endschema %}
