{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-pdp-size-chart.css' | asset_url | stylesheet_tag }}
{{ 'component-product-bundle.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-bundle.js' | asset_url }}" defer="defer"></script>

<section class="page-width">
  <div class="product{% if product.type == 'Gift Cards' or product.type == 'Gift Card' %} product--gift-card{% endif %}">
    <div class="product__media-container">
      <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
        {{ "accessibility.skip_to_product_info" | t }}
      </a>
      <div class="product__media-wrapper">
        <div class="product__thumbnail-wrapper">
          {% unless product.media.size == 1 %}
            <ul class="product__thumbnail-list swiper list-unstyled" role="list">
              <div class="swiper-wrapper">
                {% for media in product.media %}
                  <li class="product__thumbnail-item swiper-slide" data-media-id="{{ section.id }}-{{ media.id }}">
                    {% render 'lazy-image' image: media.preview_image, fade: true %}
                    {% if media.media_type == 'video' %}
                      {% render 'icon-thumbnail-play' %}
                    {% endif %}
                  </li>
                {% endfor %}
              </div>
            </ul>
            <div class="swiper-button-next">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="26" viewBox="0 0 12 26" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.93621 18.3187L5.10894 22.5717L5.18919 -5.5888e-07L6.41961 0.0267482L6.44636 22.6252L10.6726 18.3455L11.582 19.2549L5.8044 25.1128L2.05914e-05 19.2282L0.93621 18.3187Z" fill="black"/>
              </svg>
            </div>
          {% else %}
            <ul class="product__thumbnail-list list-unstyled" role="list">
              {% for media in product.media %}
                <li class="product__thumbnail-item" data-media-id="{{ section.id }}-{{ media.id }}">
                  {% render 'lazy-image' image: media.preview_image, fade: true %}
                </li>
              {% endfor %}
            </ul>
          {% endunless %}
        </div>
        {% unless product.media.size == 1 %}
          <ul class="product__media-list swiper list-unstyled" role="list">
            <div class="swiper-wrapper">
              {%- for media in product.media -%}
                <li class="product__media-item swiper-slide" data-media-id="{{ section.id }}-{{ media.id }}">
                  {% render 'product-thumbnail', media: media, position: forloop.index %}
                </li>
              {%- endfor -%}
            </div>
            <div class="product__media-scrollbar-wrapper">
              <div class="product__media-scrollbar swiper-scrollbar"></div>
            </div>
          </ul>
        {% else %}
          <ul class="product__media-list list-unstyled" role="list">
            {%- for media in product.media -%}
              <li class="product__media-item" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: forloop.index %}
              </li>
            {%- endfor -%}
          </ul>
        {% endunless %}        
      </div>      
    </div>

    <div class="product__info-wrapper">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        <h1 class="product__title">
          {{ product.title | escape }}
        </h1>

        <div class="product__price no-js-hidden" id="price-{{ section.id }}" role="status">
          {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'h4' -%}
          
          {% if product.metafields.my_fields.label_text != blank %}
          <div class="product__label" style="background-color: {{ product.metafields.my_fields.label_background_color }};">
            {{ product.metafields.my_fields.label_text }}
          </div>
          {% endif %}
        </div>

        {% comment %}
        {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          {{ form | payment_terms }}
        {%- endform -%}
        {% endcomment %}

        {% liquid
          assign bundle_count = 0
          if product.metafields.custom.bundle_product_1 != blank
            assign bundle_count = bundle_count | plus: 1
          endif
          if product.metafields.custom.bundle_product_2 != blank
            assign bundle_count = bundle_count | plus: 1
          endif
          if product.metafields.custom.bundle_product_3 != blank
            assign bundle_count = bundle_count | plus: 1
          endif
        %}

        {% assign only_default_variant_count = 0 %}

        <product-bundle data-title="{{ product.title }}" data-handle="{{ product.handle }}" data-total="{{ bundle_count }}">
          <form class="product-bundle" id="product-bundle-form">

            {% if product.metafields.custom.bundle_product_1 != blank %}
              {% assign product_1 = all_products[product.metafields.custom.bundle_product_1] %}
              <div class="product-bundle__item">
                <div class="product-bundle__image">
                  {% render 'lazy-image' image: product.metafields.custom.bundle_product_image_1, fade: true, classes: 'img-fill' %}
                </div>
                <div class="product-bundle__content">
                  <p class="product-bundle__content-title body">{{ product_1.title }}</p>
                  <div class="product-bundle__buttons">
                    <div class="product-bundle__buttons-container">
                      {% for option in product_1.options_with_values %}
                        {% if option.name == 'Size' %}
                          {% for value in option.values %}
                            {% assign variant = product_1.variants[forloop.index0] %}
                          
                            <input type="radio" id="ProductBundle1-{{ option.position }}-{{ forloop.index0 }}"
                              name="{{ option.name }}-1"
                              value="{{ variant.id }}"
                              form="product-bundle-form"
                              {% if option.values.size == 1 %}checked{% endif %}
                              {% unless variant.available %} disabled{% endunless %}
                            >
                            <label class="detail-caps" for="ProductBundle1-{{ option.position }}-{{ forloop.index0 }}">
                              {{ value }}
                            </label>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                      <span class="product-bundle__active-text caption">
                        {% render 'size-text' value: option.selected_value %}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              {% if product_1.variants.size == 1 %}
                {% assign only_default_variant_count = only_default_variant_count | plus: 1 %}
              {% endif %}
            {% endif %}

            {% if product.metafields.custom.bundle_product_1 != blank %}
              {% assign product_2 = all_products[product.metafields.custom.bundle_product_2] %}
              <div class="product-bundle__item">
                <div class="product-bundle__image">
                  {% render 'lazy-image' image: product.metafields.custom.bundle_product_image_2, fade: true, classes: 'img-fill' %}
                </div>
                <div class="product-bundle__content">
                  <p class="product-bundle__content-title body">{{ product_2.title }}</p>
                  <div class="product-bundle__buttons">
                    <div class="product-bundle__buttons-container">
                      {% for option in product_2.options_with_values %}
                        {% if option.name == 'Size' %}
                          {% for value in option.values %}
                            {% assign variant = product_2.variants[forloop.index0] %}
                          
                            <input type="radio" id="ProductBundle2-{{ option.position }}-{{ forloop.index0 }}"
                              name="{{ option.name }}-2"
                              value="{{ variant.id }}"
                              form="product-bundle-form"
                              {% if option.values.size == 1 %}checked{% endif %}
                              {% unless variant.available %} disabled{% endunless %}
                            >
                            <label class="detail-caps" for="ProductBundle2-{{ option.position }}-{{ forloop.index0 }}">
                              {{ value }}
                            </label>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                      <span class="product-bundle__active-text caption">
                        {% render 'size-text' value: option.selected_value %}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              {% if product_2.variants.size == 1 %}
                {% assign only_default_variant_count = only_default_variant_count | plus: 1 %}
              {% endif %}
            {% endif %}

            {% if product.metafields.custom.bundle_product_3 != blank %}
              {% assign product_3 = all_products[product.metafields.custom.bundle_product_3] %}
              <div class="product-bundle__item">
                <div class="product-bundle__image">
                  {% render 'lazy-image' image: product.metafields.custom.bundle_product_image_3, fade: true, classes: 'img-fill' %}
                </div>
                <div class="product-bundle__content">
                  <p class="product-bundle__content-title body">{{ product_3.title }}</p>
                  <div class="product-bundle__buttons">
                    <div class="product-bundle__buttons-container">
                      {% for option in product_3.options_with_values %}
                        {% if option.name == 'Size' %}
                          {% for value in option.values %}
                            {% assign variant = product_3.variants[forloop.index0] %}
                          
                            <input type="radio" id="ProductBundle3-{{ option.position }}-{{ forloop.index0 }}"
                              name="{{ option.name }}-3"
                              value="{{ variant.id }}"
                              form="product-bundle-form"
                              {% if option.values.size == 1 %}checked{% endif %}
                              {% unless variant.available %} disabled{% endunless %}
                            >
                            <label class="detail-caps" for="ProductBundle3-{{ option.position }}-{{ forloop.index0 }}">
                              {{ value }}
                            </label>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                      <span class="product-bundle__active-text caption">
                        {% render 'size-text' value: option.selected_value %}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              {% if product_3.variants.size == 1 %}
                {% assign only_default_variant_count = only_default_variant_count | plus: 1 %}
              {% endif %}
            {% endif %}

            <div class="size-chart-dropdown">
              <button class="size-chart-dropdown__header">
                <p class="sh5">size chart</p>
                <div class="size-chart-dropdown__control"></div>
              </button>
              <div class="size-chart-dropdown__content">
                {% render 'pdp-size-chart' %}
              </div>
            </div>

            {% if only_default_variant_count == bundle_count %}
               <button type="submit" class="button button--full">Add to Cart</button>
            {% else %}
              <button type="submit" class="button button--full" disabled {{ only_default_variant_count }} {{ bundle_count }}>Select Your Sizes</button>
            {% endif %}

          </form>
        </product-bundle>

        

        {% if product.metafields.my_fields.shipping_notice != blank %}
          <p class="product__shipping-notice detail">{{ product.metafields.my_fields.shipping_notice }}</p>
        {% endif %}
        
        {% for tag in product.tags %}
          {% if tag contains 'Final Sale' %}
            <p class="product__final-sale detail">This item is Final Sale. It cannot be returned for refund, credit or exchange.</p>
          {% endif %}
        {% endfor %}

        <div class="product__dropdowns">
          <div class="product__dropdown active">
            <button class="product__dropdown-header">
              <p class="body-small">Description</p>
              <div class="product__dropdown-control"></div>
            </button>
            <div class="product__dropdown-content" style="display: block; box-sizing: border-box;">
              <div class="rte">
                {{ product.description }}
              </div>
            </div>
          </div>
          {% if product.metafields.pdp_extras.fabric != blank %}
            <div class="product__dropdown">
              <button class="product__dropdown-header">
                <p class="body-small">Fabric</p>
                <div class="product__dropdown-control"></div>
              </button>
              <div class="product__dropdown-content">
                <p class="body-small">{{ product.metafields.pdp_extras.fabric | newline_to_br }}</p>
              </div>
            </div>
          {% endif %}
          {% comment %}
          {% if product.metafields.pdp_extras.size_fit != blank %}
            <div class="product__dropdown">
              <button class="product__dropdown-header">
                <p class="body-small">Fit & Sizing</p>
                <div class="product__dropdown-control"></div>
              </button>
              <div class="product__dropdown-content">
                <p class="body-small">{{ product.metafields.pdp_extras.size_fit | newline_to_br }}</p>
              </div>
            </div>
          {% endif %}
          {% endcomment %}
          {% if settings.fit_note != blank or product.metafields.pdp_extras.size_fit != blank %}
            <div class="product__dropdown">
              <button class="product__dropdown-header">
                <p class="body-small">Fit & Sizing</p>
                <div class="product__dropdown-control"></div>
              </button>
              <div class="product__dropdown-content">
                {% if product.metafields.pdp_extras.size_fit != blank %}
                  <p class="body-small">{{ product.metafields.pdp_extras.size_fit | newline_to_br }}</p>
                {% endif %}
                  <p class="body-small">{{ settings.fit_note | newline_to_br }}</p>
              </div>
            </div>
          {% endif %}
          {% if product.metafields.pdp_extras.shipping_returns != blank %}
            <div class="product__dropdown">
              <button class="product__dropdown-header">
                <p class="body-small">Shipping & Returns</p>
                <div class="product__dropdown-control"></div>
              </button>
              <div class="product__dropdown-content">
                <p class="body-small">{{ product.metafields.pdp_extras.shipping_returns | newline_to_br }}</p>
              </div>
            </div>
          {% endif %} 
        </div>

      </div>
    </div>
  </div>
</section>

{% javascript %}
  // Product sliders
  const productThumbsSlider = new Swiper('.product__thumbnail-list', {
    slidesPerView: 4,
    loop: false,
    spaceBetween: 20,
    direction: 'vertical',
    mousewheelControl: true,
    freeMode: true,
    navigation: {
      nextEl: '.product__thumbnail-wrapper .swiper-button-next'
    },
    breakpoints: {
      851: {
        loop: true,
        spaceBetween: 20
      },
      1151: {
        loop: true,
        spaceBetween: 40
      }
    }
  });

  const productSlider = new Swiper('.product__media-list', {
    slidesPerView: 1.2,
    loop: false,
    spaceBetween: 10,
    freeMode: true,
    thumbs: {
      swiper: productThumbsSlider
    },
    scrollbar: {
      el: '.product__media-scrollbar',
      draggable: true
    },
    breakpoints: {
      851: {
        slidesPerView: 1,
        spaceBetween: 20,
        loop: true,
        freeMode: false
      }
    }
  });

  // Product dropdowns
  const dropdownButtons = document.querySelectorAll('.product__dropdown-header');

  dropdownButtons.forEach(dropdownButton => {
    dropdownButton.addEventListener('click', event => {
      const parent = event.currentTarget.parentElement;
      const content = parent.querySelector('.product__dropdown-content');

      parent.classList.toggle('active');
      slideToggle(content, 300);
    });
  });

  // Size chart dropdown
  const sizeChartButton = document.querySelector('.size-chart-dropdown__header');

  sizeChartButton.addEventListener('click', event => {
    event.preventDefault();
    const parent = event.currentTarget.parentElement;
    const content = parent.querySelector('.size-chart-dropdown__content');

    parent.classList.toggle('active');
    slideToggle(content, 300);
  });
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "blocks": [
  ],
  "settings": [

  ]
}
{% endschema %}
