{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-price.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-rte.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-rating.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-size-chart.css' | asset_url | stylesheet_tag: preload: true }}

{% liquid
  assign picker_type = 'button'
  
  assign has_color_variant = false
  if product.options_by_name['Select Color'].values.size > 1 or product.options_by_name['Color'].values.size > 1
    assign has_color_variant = true
  endif

  assign image_position = 1
  if has_color_variant
    assign image_position = product.selected_variant.featured_image.position
  endif
%}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<section class="page-width">
  <div class="product{% if product.type == 'Gift Cards' or product.type == 'Gift Card' %} product--gift-card{% endif %}{% if product.tags contains 'Resize Swatches' %} product--adjust-swatches{% endif %}">
    <div class="product__media-container">
      <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
        {{ "accessibility.skip_to_product_info" | t }}
      </a>
      <div class="product__media-wrapper">
        <div class="product__thumbnail-wrapper">
          {% unless product.media.size == 1 %}
            <ul class="product__thumbnail-list swiper list-unstyled" role="list">
              <div class="swiper-wrapper">
                {% for media in product.media %}
                  <li class="product__thumbnail-item swiper-slide" data-media-id="{{ section.id }}-{{ media.id }}">
                    {% render 'lazy-image' image: media.preview_image, fade: true %}
                    {% if media.media_type == 'video' %}
                      {% render 'icon-thumbnail-play' %}
                    {% endif %}
                  </li>
                {% endfor %}
              </div>
            </ul>
            <div class="swiper-button-next">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="26" viewBox="0 0 12 26" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.93621 18.3187L5.10894 22.5717L5.18919 -5.5888e-07L6.41961 0.0267482L6.44636 22.6252L10.6726 18.3455L11.582 19.2549L5.8044 25.1128L2.05914e-05 19.2282L0.93621 18.3187Z" fill="black"/>
              </svg>
            </div>
          {% else %}
            <ul class="product__thumbnail-list list-unstyled" role="list">
              {% for media in product.media %}
                <li class="product__thumbnail-item" data-media-id="{{ section.id }}-{{ media.id }}">
                  {% render 'lazy-image' image: media.preview_image, fade: true %}
                </li>
              {% endfor %}
            </ul>
          {% endunless %}
        </div>
        {% unless product.media.size == 1 %}
          <ul class="product__media-list swiper list-unstyled" role="list" data-position="{{ image_position }}">
            {% if product.type == 'Monday Mini' %}
            <div class="product-media__icon">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 2305 2305" height="2305" width="2305">
                <circle fill="white" r="1151.5" cy="1152.5" cx="1152.5"></circle>
                <circle fill="black" r="1151.5" cy="1152.5" cx="1152.5"></circle>
                <circle stroke-width="2" stroke="black" r="1151.5" cy="1152.5" cx="1152.5"></circle>
                <path fill="white" d="M744.662 1412C706.81 1329.07 680.45 1272.67 637.867 1184.43C615.562 1137.98 587.174 1080.93 564.869 1037.8C564.193 1072.96 563.517 1114.1 563.517 1159.22C563.517 1230.21 565.545 1315.8 568.924 1391.43H477C480.38 1315.8 482.407 1230.21 482.407 1159.22C482.407 1088.22 480.38 1002.64 477 927H609.479C648.682 1017.9 671.663 1070.31 744.662 1218.93C817.66 1070.31 840.641 1017.9 879.844 927H1012.32C1008.94 1002.64 1006.92 1088.22 1006.92 1159.22C1006.92 1230.21 1008.94 1315.8 1012.32 1391.43H920.399C923.779 1315.8 925.806 1230.21 925.806 1159.22C925.806 1114.1 925.13 1072.96 924.454 1037.8C902.149 1080.93 873.761 1137.98 851.456 1184.43C808.873 1272.67 782.513 1329.07 744.662 1412Z"></path>
                <path fill="white" d="M1188.07 1391.43H1096.15C1099.53 1315.8 1101.55 1230.21 1101.55 1159.22C1101.55 1088.22 1099.53 1002.64 1096.15 927H1188.07C1184.69 1002.64 1182.66 1088.22 1182.66 1159.22C1182.66 1230.21 1184.69 1315.8 1188.07 1391.43Z"></path>
                <path fill="white" d="M1362.3 1391.43H1271.73C1275.11 1315.8 1277.13 1230.21 1277.13 1159.22C1277.13 1088.22 1275.11 1002.64 1271.73 927H1377.17C1436.65 1039.79 1478.56 1111.45 1567.78 1261.39V1152.58C1567.78 1088.22 1565.75 1002.64 1562.37 927H1652.94C1649.56 1002.64 1647.53 1088.22 1647.53 1159.22C1647.53 1230.21 1649.56 1315.8 1652.94 1391.43H1547.5C1498.83 1299.87 1421.78 1165.85 1356.89 1057.04V1165.85C1356.89 1230.21 1358.92 1315.8 1362.3 1391.43Z"></path>
                <path fill="white" d="M1829 1391.43H1737.08C1740.46 1315.8 1742.48 1230.21 1742.48 1159.22C1742.48 1088.22 1740.46 1002.64 1737.08 927H1829C1825.62 1002.64 1823.59 1088.22 1823.59 1159.22C1823.59 1230.21 1825.62 1315.8 1829 1391.43Z"></path>
              </svg>
            </div>
            {% endif %}
            <div class="swiper-wrapper">
              {%- for media in product.media -%}
                <li class="product__media-item swiper-slide" data-media-id="{{ section.id }}-{{ media.id }}">
                  {% render 'product-thumbnail', media: media, position: forloop.index %}
                </li>
              {%- endfor -%}
            </div>
            
            <div class="swiper-button swiper-button-prev hide-desktop">
              {% render 'icon-arrow-left' %}
            </div>
                  
            <div class="swiper-button swiper-button-next hide-desktop">
              {% render 'icon-arrow-right' %}
            </div>
                  
            <div class="product__media-scrollbar-wrapper hidden">
              <div class="product__media-scrollbar swiper-scrollbar"></div>
            </div>
          </ul>
        {% else %}
          <ul class="product__media-list list-unstyled" role="list">
            {% if product.type == 'Monday Mini' %}
            <div class="product-media__icon">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 2305 2305" height="2305" width="2305">
                <circle fill="white" r="1151.5" cy="1152.5" cx="1152.5"></circle>
                <circle fill="black" r="1151.5" cy="1152.5" cx="1152.5"></circle>
                <circle stroke-width="2" stroke="black" r="1151.5" cy="1152.5" cx="1152.5"></circle>
                <path fill="white" d="M744.662 1412C706.81 1329.07 680.45 1272.67 637.867 1184.43C615.562 1137.98 587.174 1080.93 564.869 1037.8C564.193 1072.96 563.517 1114.1 563.517 1159.22C563.517 1230.21 565.545 1315.8 568.924 1391.43H477C480.38 1315.8 482.407 1230.21 482.407 1159.22C482.407 1088.22 480.38 1002.64 477 927H609.479C648.682 1017.9 671.663 1070.31 744.662 1218.93C817.66 1070.31 840.641 1017.9 879.844 927H1012.32C1008.94 1002.64 1006.92 1088.22 1006.92 1159.22C1006.92 1230.21 1008.94 1315.8 1012.32 1391.43H920.399C923.779 1315.8 925.806 1230.21 925.806 1159.22C925.806 1114.1 925.13 1072.96 924.454 1037.8C902.149 1080.93 873.761 1137.98 851.456 1184.43C808.873 1272.67 782.513 1329.07 744.662 1412Z"></path>
                <path fill="white" d="M1188.07 1391.43H1096.15C1099.53 1315.8 1101.55 1230.21 1101.55 1159.22C1101.55 1088.22 1099.53 1002.64 1096.15 927H1188.07C1184.69 1002.64 1182.66 1088.22 1182.66 1159.22C1182.66 1230.21 1184.69 1315.8 1188.07 1391.43Z"></path>
                <path fill="white" d="M1362.3 1391.43H1271.73C1275.11 1315.8 1277.13 1230.21 1277.13 1159.22C1277.13 1088.22 1275.11 1002.64 1271.73 927H1377.17C1436.65 1039.79 1478.56 1111.45 1567.78 1261.39V1152.58C1567.78 1088.22 1565.75 1002.64 1562.37 927H1652.94C1649.56 1002.64 1647.53 1088.22 1647.53 1159.22C1647.53 1230.21 1649.56 1315.8 1652.94 1391.43H1547.5C1498.83 1299.87 1421.78 1165.85 1356.89 1057.04V1165.85C1356.89 1230.21 1358.92 1315.8 1362.3 1391.43Z"></path>
                <path fill="white" d="M1829 1391.43H1737.08C1740.46 1315.8 1742.48 1230.21 1742.48 1159.22C1742.48 1088.22 1740.46 1002.64 1737.08 927H1829C1825.62 1002.64 1823.59 1088.22 1823.59 1159.22C1823.59 1230.21 1825.62 1315.8 1829 1391.43Z"></path>
              </svg>
            </div>
            {% endif %}
            {%- for media in product.media -%}
              <li class="product__media-item" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: forloop.index %}
              </li>
            {%- endfor -%}
          </ul>
        {% endunless %}

        {% if product.tags contains 'Long Body' %}
          <div class="product-media__tag"><p class="detail-caps">Long Body</p></div>
        {% endif %}
      </div>      
    </div>

    <div class="product__info-wrapper">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        <h1 class="product__title">
          {{ product.title | escape }}
        </h1>

        <div class="product__price no-js-hidden" id="price-{{ section.id }}" role="status">
          {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'h4' -%}
          
          {% if product.metafields.my_fields.label_text != blank %}
          <div class="product__label" style="background-color: {{ product.metafields.my_fields.label_background_color }};">
            {{ product.metafields.my_fields.label_text }}
          </div>
          {% endif %}

        </div>

        {% comment %}
        {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          {{ form | payment_terms }}
        {%- endform -%}
        {% endcomment %}

        <product-form class="product-form">
          {% comment %} Check if using collection to determine swatches or using product variants {% endcomment %}
          {% assign use_collection_for_swatches = false %}
          {% assign collection_for_swatches = '' %}
          {% for tag in product.tags %}
            {% if tag contains 'group_' %}
              {% assign use_collection_for_swatches = true %}

              {% assign split_tag = tag | split: '_' %}
              {% assign collection_handle = split_tag[1] | handleize %}
              {% assign collection_for_swatches = collections[collection_handle] %}
            {% endif %}
          {% endfor %}

          <div data-collection="{{ collection_handle }}"></div>
          {% if use_collection_for_swatches %}
            <div class="product__collection-colors">
              <legend class="form__label detail-caps">Color <span class="product-form__input-active hide-desktop">{{ product.metafields.nosto.color }}</span></legend>

              <div class="product__swatches">
                {% for current_product in collection_for_swatches.products %}
                  {% for option in current_product.options_with_values %}
              		{% if option.name == 'Color' %}
              		  {% assign color = option.values[0] %}
                    {% endif %}
                  {% endfor %}
                  {% assign color_swatch_name = color | handleize | prepend: 'swatch_' | append: '.jpg' %}
                  {% assign color_swatch_image = images[color_swatch_name] %}
                  <a class="product__swatch{% if product.handle == current_product.handle %} active{% endif %}" href="{{ current_product.url }}">
                    <div class="product__swatch-color" style="background-image: url('{{ color_swatch_image | img_url: '50x' }}')"></div>
                    <span class="visually-hidden">{{ value }}</span>
                  </a>
                {% endfor %}
                {% for option in product.options_with_values %}
              		{% if option.name == 'Color' %}
              		  {% assign current_color = option.values[0] %}
                    {% endif %}
                  {% endfor %}
                <p class="product__active-color detail-caps hide-mobile">{{ current_color }}</p>
              </div>

            </div>
          {% endif %}

          {%- unless product.has_only_default_variant -%}
            {%- if picker_type == 'button' -%}
              <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                {%- for option in product.options_with_values -%}

                  {% assign color_label = 'select color,color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' %}
                  {% assign downcase_option = option.name | downcase %}

                  <fieldset class="js product-form__input{% if color_label contains downcase_option %} color-swatches{% endif %}"{% if use_collection_for_swatches and option.name == 'Color' %} style="display: none"{% endif %}>
                    <legend class="form__label detail-caps">{{ option.name }} 
                      <span class="product-form__input-active hide-desktop">
                        {% if option.name == 'Size' %}
                          {% render 'size-text' value: option.selected_value %}
                        {% else %}
                          {{ option.selected_value }}
                        {% endif %}
                      </span>
                    </legend>
                    <div class="product-form__input-buttons product-form__input-buttons--{{ option.name | handle }}">
                      {%- for value in option.values -%}
                        
                        {% liquid
                          if value.swatch.color == blank
                            assign color_swatch_name = value | handleize | prepend: 'swatch_' | append: '.jpg'
                            assign color_swatch_image = images[color_swatch_name]
                          endif
                        %}

                        <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                          {% if option.name == 'Size' %}class="product-form__input-size"{% endif %}
                          name="{{ option.name }}"
                          value="{{ value | escape }}"
                          data-inventory="{{ product.variants[forloop.index0].inventory_quantity }}"
                          {% if option.selected_value == value %}checked{% endif %}
                           form="{{ product_form_id }}"
                        >
                        <label data="{{ value.swatch.color }}" class="detail-caps" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" {% if color_label contains downcase_option %} style="font-size: 0;background-color: {{ value.swatch.color }};{% if color_swatch_image != blank %}background-image: url('{{ color_swatch_image | img_url: '60x60' }}');{% endif %}"{% endif %}>
                          {{ value }}
                        </label>
                      {%- endfor -%}
                      <p class="product-form__input-active detail-caps hide-mobile{% if product.tags contains 'Monday Mini' %} hide-desktop{% endif %}">
                        {% if option.name == 'Size' %}
                          {% render 'size-text' value: option.selected_value %}
                        {% else %}
                          {{ option.selected_value }}
                        {% endif %}
                      </p>
                    </div>
                  </fieldset>
                {%- endfor -%}
                <script type="application/json">
                  {{ product.variants | json }}
                </script>
              </variant-radios>
            {%- else -%}
              <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                {%- for option in product.options_with_values -%}
                  <div class="product-form__input product-form__input--dropdown">
                    <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <div class="select">
                      <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                        class="select__select"
                        name="options[{{ option.name | escape }}]"
                        form="{{ product_form_id }}"
                      >
                        {%- for value in option.values -%}
                          <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                            {{ value }}
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                  </div>
                {%- endfor -%}

                <script type="application/json">
                  {{ product.variants | json }}
                </script>
              </variant-selects>
            {%- endif -%}
          {%- endunless -%}

          <noscript class="product-form__noscript-wrapper-{{ section.id }}">
            <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
              <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
              <div class="select">
                <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                  {%- for variant in product.variants -%}
                    <option
                      {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                      {% if variant.available == false %}disabled{% endif %}
                      value="{{ variant.id }}"
                    >
                      {{ variant.title }}
                      {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                      - {{ variant.price | money | strip_html }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          </noscript>
          {% if product.metafields.pdp_extras.size_note != blank %}
          <div class="size-note">
            <p class="detail">{{ product.metafields.pdp_extras.size_note | newline_to_br }}</p>
          </div>
	      {% endif %}

          {% if product.metafields.custom.restock_note != blank %}
          <div class="size-note">
            <p class="detail">{{ product.metafields.custom.restock_note }}</p>
          </div>
	      {% endif %}

          <button class="product__size-chart js-open-chart sh5">Size Chart +</button>
          
          {% comment %} {% unless product.type == 'Gift Cards' or product.type == 'Gift Card' %}
            <div class="size-chart-dropdown">
              <button class="size-chart-dropdown__header">
                <p class="sh5">size chart</p>
                <div class="size-chart-dropdown__control"></div>
              </button>
              <div class="size-chart-dropdown__content">
                {% render 'size-chart' %}
              </div>
            </div>
          {% endunless %} {% endcomment %}


          {% if localization.country.iso_code == 'GB' %}
            {% comment %}<p class="body-small" style="margin: 12px 0 0;">Free express shipping and returns</p>{% endcomment %}
            <p class="body-small" style="margin: 0;">Duties and taxes included</p>
          {% endif %}
          
          <div class="product-form__error-message-wrapper" role="alert" hidden>
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
              <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
              <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
              <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
              <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
            </svg>
            <span class="product-form__error-message"></span>
          </div>
          <p id="almost-sold-out" class="detail-caps almost-sold-out">ALMOST SOLD OUT!</p>

          {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              {% liquid  
                assign checktag = false 
                  for tag in product.tags 
                    assign all_tags = tag | downcase | handleize 
                    if all_tags == 'final-sale' 
                      assign checktag = true 
                    endif 
                  endfor 
              %}
              
              {% if checktag %} 
                {% comment %}
                <input id="final-sale" type="hidden" name="properties[_final_sale]" value="Final Sale">
                {% endcomment %}
                <input id="final-sale" type="hidden" name="properties[Disclaimer]" value="Final Sale">
              {% endif %}
              {% if product.tags contains 'PRE-SALE' %}
                <input id="isPreSale" type="hidden" name="properties[_isPreSale]" value="true"> 
              {% endif %}
          
            <div class="product-form__button-wrapper">
              <div class="product-form__input product-form__quantity">    
                <quantity-input class="quantity">
                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                    <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                    {% render 'icon-minus' %}
                  </button>
                  <input class="quantity__input btn"
                      type="number"
                      name="quantity"
                      id="Quantity-{{ section.id }}"
                      min="1"
                      value="1"
                      form="{{ product_form_id }}"
                    >
                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                    <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                    {% render 'icon-plus' %}
                  </button>
                </quantity-input>
              </div>
             
              <button
                type="submit"
                name="add"
                class="product-form__submit button button--full {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
              {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
              >
                  <span>
                    {%- if product.selected_or_first_available_variant.available -%}
                      {{ 'products.product.add_to_cart' | t }}
                    {%- else -%}
                      {{ 'products.product.sold_out' | t }}
                    {%- endif -%}
                  </span>
                  <div class="loading-overlay__spinner hidden">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
              </button>
            </div>

            <div class="product-form__buttons">
              {%- if block.settings.show_dynamic_checkout -%}
                {{ form | payment_button }}
              {%- endif -%}
            </div>
          {%- endform -%}          
                
        </product-form>
        
        <!-- Placement v2 -->
        <klarna-placement
          data-key="credit-promotion-badge"
          data-locale="en-US"
          data-purchase-amount=""
        ></klarna-placement>
        <!-- end Placement -->

        {% if product.metafields.my_fields.shipping_notice != blank %}
          <p class="product__shipping-notice detail">{{ product.metafields.my_fields.shipping_notice }}</p>
        {% endif %}
        
        {% for tag in product.tags %}
          {% if tag contains 'Final Sale' %}
            <p class="product__final-sale detail">This item is Final Sale. It cannot be returned for refund, credit or exchange.</p>
          {% endif %}
        {% endfor %}

        <div class="product__dropdowns">
          <div class="product__dropdown active hide-mobile">
            <button class="product__dropdown-header">
              <p class="body-small">
                {% if product.metafields.custom.monday_body == true %}
                  Features
                {% else %}
                  Description
                {% endif %}
              </p>
              <div class="product__dropdown-control"></div>
            </button>
            <div class="product__dropdown-content" style="display: block; box-sizing: border-box;">
              <div class="rte">
                {{ product.description }}
              </div>
            </div>
          </div>
          <div class="product__dropdown hide-desktop">
            <button class="product__dropdown-header">
              <p class="body-small">
                {% if product.metafields.custom.monday_body == true %}
                  Features
                {% else %}
                  Description
                {% endif %}
              </p>
              <div class="product__dropdown-control"></div>
            </button>
            <div class="product__dropdown-content">
              <div class="rte">
                {{ product.description }}
              </div>
            </div>
          </div>
          {% if product.metafields.pdp_extras.fabric != blank %}
            <div class="product__dropdown">
              <button class="product__dropdown-header">
                <p class="body-small">Fabric</p>
                <div class="product__dropdown-control"></div>
              </button>
              <div class="product__dropdown-content">
                <p class="body-small">{{ product.metafields.pdp_extras.fabric | newline_to_br }}</p>
              </div>
            </div>
          {% endif %}
          {% comment %}
          {% if product.metafields.pdp_extras.size_fit != blank %}
            <div class="product__dropdown">
              <button class="product__dropdown-header">
                <p class="body-small">Fit & Sizing</p>
                <div class="product__dropdown-control"></div>
              </button>
              <div class="product__dropdown-content">
                <p class="body-small">{{ product.metafields.pdp_extras.size_fit | newline_to_br }}</p>
              </div>
            </div>
          {% endif %}
          {% endcomment %}
          {% unless product.tags contains 'accessories' or product.tags contains 'Accessories' or product.tags contains 'Gift Card' or product.tags contains 'gift card' %}
            {% if product.metafields.custom.monday_body == true %}
              {% if settings.body_fit_note != blank or product.metafields.pdp_extras.size_fit != blank %}
                <div class="product__dropdown">
                  <button class="product__dropdown-header">
                    <p class="body-small">Fit & Sizing</p>
                    <div class="product__dropdown-control"></div>
                  </button>
                  <div class="product__dropdown-content">
                    {% if product.metafields.pdp_extras.size_fit != blank %}
                      <p class="body-small">{{ product.metafields.pdp_extras.size_fit | newline_to_br }}</p>
                    {% endif %}
                      <p class="body-small">{{ settings.body_fit_note | newline_to_br }}</p>
                  </div>
                </div>
              {% endif %}
            {% else %}
              {% if settings.fit_note != blank or product.metafields.pdp_extras.size_fit != blank %}
                <div class="product__dropdown">
                  <button class="product__dropdown-header">
                    <p class="body-small">Fit & Sizing</p>
                    <div class="product__dropdown-control"></div>
                  </button>
                  <div class="product__dropdown-content">
                    {% if product.metafields.pdp_extras.size_fit != blank %}
                      <p class="body-small">{{ product.metafields.pdp_extras.size_fit | newline_to_br }}</p>
                    {% endif %}
                      <p class="body-small">{{ settings.fit_note | newline_to_br }}</p>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endunless %}
          {% if product.metafields.custom.care_instructions != blank %}
            <div class="product__dropdown">
              <button class="product__dropdown-header">
                <p class="body-small">Care Instructions</p>
                <div class="product__dropdown-control"></div>
              </button>
              <div class="product__dropdown-content">
                <p class="body-small">{{ product.metafields.custom.care_instructions | newline_to_br }}</p>
              </div>
            </div>
          {% endif %}
          {% if settings.shipping_returns != blank %}
            <div class="product__dropdown">
              <button class="product__dropdown-header">
                <p class="body-small">Shipping & Returns</p>
                <div class="product__dropdown-control"></div>
              </button>
              <div class="product__dropdown-content">
                <p class="body-small">{{ settings.shipping_returns }}</p>
              </div>
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</section>

<div class="size-chart">
  <button class="size-chart__overlay js-close-size-chart"></button>
  <div class="size-chart__container">
    <button class="size-chart__close js-close-size-chart">{% render 'icon-close' %}</button>
    <div class="size-chart__header">
      <button class="size-chart__tab sh2 active" data-tab="chart">Size Chart</button>
      {% unless product.tags contains 'Monday Mini' %}
        <button class="size-chart__tab sh2" data-tab="measure">How to Measure</button>
      {% endunless %}
    </div>
    <div class="size-chart__content size-chart__content--chart active" data-tab="chart">
      <div class="size-chart__wrapper no-scrollbar">
        {% if product.tags contains 'Beachwear' %}
          {% render 'size-chart' type: 'beachwear' %}
        {% elsif product.tags contains 'Swim Tops' or product.tags contains 'Bra' or product.tags contains 'Bras' or product.tags contains 'Tops' %}
          {% render 'size-chart' type: 'top' %}
        {% elsif product.tags contains 'Swim Bottom' or product.tags contains 'Leggings' or product.tags contains 'Shorts' %}
          {% render 'size-chart' type: 'bottom' %}
        {% elsif product.tags contains 'Swim One Piece' %}
          {% render 'size-chart' type: 'one-piece' %}
        {% elsif product.tags contains 'Monday Mini' %}
          {% render 'size-chart' type: 'mini' %}
        {% endif %}
      </div>
    </div>
    <div class="size-chart__content size-chart__content--images" data-tab="measure">
      <div class="size-chart__image">
        {% if product.tags contains 'Swim Tops' or product.tags contains 'Swim Bottom' or product.tags contains 'Swim One Piece' %}
          {{ settings.swimwear_image | image_url: width: 900 | image_tag: loading: 'lazy' }}
        {% elsif product.tags contains 'Beachwear' %}
          {{ settings.beachwear_image | image_url: width: 900 | image_tag: loading: 'lazy' }}
        {% elsif product.type == 'Activewear' %}
          {{ settings.activewear_image | image_url: width: 900 | image_tag: loading: 'lazy' }}
        {% endif %}
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{% javascript %}
    // Product sliders 
    window.productThumbsSlider = new Swiper('.product__thumbnail-list', {
    slidesPerView: 4,
    loop: false,
    spaceBetween: 20,
    direction: 'vertical', 
    mousewheelControl: true,
    freeMode: true,
    threshold: 15,
    navigation: {
      nextEl: '.product__thumbnail-wrapper .swiper-button-next'
    },
    breakpoints: {
      851: {
        loop: true,
        spaceBetween: 20
      },
      1151: {
        loop: true,
        spaceBetween: 40
      }
    }
  });

  window.productSlider = new Swiper('.product__media-list', {
    slidesPerView: 1,
    loop: true,
    spaceBetween: 0,
    initialSlide: Number(document.querySelector('.product__media-list').dataset.position) - 1,
    thumbs: {
      swiper: window.productThumbsSlider
    },
    scrollbar: {
      el: '.product__media-scrollbar',
      draggable: true
    },
    navigation: {
      prevEl: '.product__media-list .swiper-button-prev',
      nextEl: '.product__media-list .swiper-button-next'
    },
    breakpoints: {
      851: {
        slidesPerView: 1,
        spaceBetween: 20,
      }
    }
  });
 
  // Product dropdowns
  const dropdownButtons = document.querySelectorAll('.product__dropdown-header');

  dropdownButtons.forEach(dropdownButton => {
    dropdownButton.addEventListener('click', event => {
      const parent = event.currentTarget.parentElement;
      const content = parent.querySelector('.product__dropdown-content');

      parent.classList.toggle('active');
      slideToggle(content, 300);
    }); 
  });

  // Size chart dropdown
  const sizeChart = document.querySelector('.size-chart');
  const sizeChartButton = document.querySelector('.product__size-chart');

  sizeChartButton.addEventListener('click', event => {
    sizeChart.classList.add('is-visible');
    document.body.classList.add('scroll-lock');
  });

  const closeSizeChartButtons = document.querySelectorAll('.js-close-size-chart');
  closeSizeChartButtons.forEach(button => {
    button.addEventListener('click', event => {
      sizeChart.classList.remove('is-visible');
      document.body.classList.remove('scroll-lock');
    });
  });

  // Size chart tabs
  const tabs = document.querySelectorAll('.size-chart__tab');
  tabs.forEach(tab => {
    tab.addEventListener('click', event => {
      const tabName = tab.dataset.tab;

      document.querySelector('.size-chart__tab.active').classList.remove('active');
      tab.classList.add('active');

      document.querySelector('.size-chart__content.active').classList.remove('active');
      document.querySelector(`.size-chart__content[data-tab="${tabName}"]`).classList.add('active');
    });
  });

  // Zoom
  initZoom();
  window.addEventListener('resize', event => {
    initZoom();
  });

  function initZoom() {
    if (window.innerWidth < 769) {
      $('.product__media').trigger('zoom.destroy');
    } else {
      $('.product__media').zoom({magnify: 1.5, url: $(this).data('fullsize')});
    }
  }
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "blocks": [
  ],
  "settings": [

  ]
}
{% endschema %}
