{{ 'section-contact-headline.css' | asset_url | stylesheet_tag }}

<div class="main-page page-width page-width--narrow contact-headline">
  <div class="contact-headline-wrapper">
    {% if section.settings.heading_text != blank %}
    <h1 class="text-center title">{{ section.settings.heading_text }}</h1>
    {% endif %}
    {% if section.settings.subtitle != blank %}
    <h2 class="text-center subtitle">{{ section.settings.subtitle }}</h2>
    {% endif %}
    {% if section.settings.description != blank %}
    <p class="text-center body">{{ section.settings.description }}</p>
    {% endif %}
  </div>

  {% if section.blocks.size > 0 %}
    <div class="link-group">
      {% for block in section.blocks %}
        <a class="btn" href="{{ block.settings.url }}">
          {{ block.settings.link_text }}
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Monday Retuns Headline",
    "settings": [
      {
        "type": "text",
        "id": "heading_text",
        "label": "Heading Text",
        "default": "Page Heading"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "How can we help?"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"        
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "link",
        "name": "Link",
        "settings": [
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Monday Retuns Headline",
        "blocks": [
          {
            "type": "link"
          },
          {
            "type": "link"
          },
          {
            "type": "link"
          }
       ]
      }
    ]
  }
{% endschema %}
