{{ 'section-press-cards.css' | asset_url | stylesheet_tag }}

<div class="press-cards">
  <div class="page-width">
    <div class="page-cards__slider swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="page-cards__slide swiper-slide" {{ block.shopify_attributes }}>
            <div class="page-cards__slide-container">
              <div class="page-cards__image">
                <img src="{{ block.settings.logo | img_url: 'master' }}" loading="lazy" />
              </div>
              <p class="page-cards__quote body-sm body-2">{{ block.settings.title }}</p>
              <p class="page-cards__date tag">{{ block.settings.date }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% javascript %} 
  const pressSlider = new Swiper('.page-cards__slider', {
    slidesPerView: 1.2,
    loop: false,
    spaceBetween: 10,
    freeMode: true,
    breakpoints: {
      768: {
        slidesPerView: 4,
        spaceBetween: 20,
        loop: true,
        freeMode: false
      }
    }
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Press Cards",
    "settings": [

    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "limit": 4,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Quote"
          },
          {
            "type": "text",
            "id": "date",
            "label": "Date"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Press Cards"
      }
    ]
  }
{% endschema %}