<div class="rewards-chart">
  <div class="page-width">
    <div class="rewards-chart__wrapper no-scrollbar">
      <table class="rewards-chart__table">

        <tr>
          <th class="hide-mobile"></th>
          <th>
            <p class="sh2">Level One</p>
            <h4>{{ section.settings.level_one_title }}</h4>
            <p class="body">{{ section.settings.level_one_text }}</p>
          </th>
          <th>
            <p class="sh2">Level Two</p>
            <h4>{{ section.settings.level_two_title }}</h4>
            <p class="body">{{ section.settings.level_two_text }}</p>
          </th>
          <th>
            <p class="sh2">Level Three</p>
            <h4>{{ section.settings.level_three_title }}</h4>
            <p class="body">{{ section.settings.level_three_text }}</p>
          </th>
        </tr>

        {% for block in section.blocks %}
          <tr>
            <td class="left-align hide-mobile">{{ block.settings.text }}</td>
            <td>
              {% if block.settings.level_one %}
                {% if block.settings.level_one_text != blank %}
                  <p class="body-small">{{ block.settings.level_one_text }}</p>
                {% else %}
                  <span class="rewards-chart__table-dot hide-mobile"></span>
                  <p class="body-small hide-desktop">{{ block.settings.text }}</p>
                {% endif %}
              {% endif %}
            </td>
            <td>
              {% if block.settings.level_two %}
                {% if block.settings.level_two_text != blank %}
                  <p class="body-small">{{ block.settings.level_two_text }}</p>
                {% else %}
                  <span class="rewards-chart__table-dot hide-mobile"></span>
                  <p class="body-small hide-desktop">{{ block.settings.text }}</p>
                {% endif %}
              {% endif %}
            </td>
            <td>
              {% if block.settings.level_three %}
                {% if block.settings.level_three_text != blank %}
                  <p class="body-small">{{ block.settings.level_three_text }}</p>
                {% else %}
                  <span class="rewards-chart__table-dot hide-mobile"></span>
                  <p class="body-small hide-desktop">{{ block.settings.text }}</p>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}

      </table>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Rewards Chart",
    "settings": [
      {
        "type": "text",
        "id": "level_one_title",
        "label": "Level One Title"
      },
      {
        "type": "text",
        "id": "level_one_text",
        "label": "Level One Text"
      },
      {
        "type": "text",
        "id": "level_two_title",
        "label": "Level Two Title"
      },
      {
        "type": "text",
        "id": "level_two_text",
        "label": "Level Two Text"
      },
      {
        "type": "text",
        "id": "level_three_title",
        "label": "Level Three Title"
      },
      {
        "type": "text",
        "id": "level_three_text",
        "label": "Level Three Text"
      }
    ],
    "blocks": [
      {
        "type": "row",
        "name": "Row",
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "checkbox",
            "id": "level_one",
            "label": "Level One"
          },
          {
            "type": "text",
            "id": "level_one_text",
            "label": "Level One Text",
            "info": "Adding text here will replace the dot on the chart with text."
          },
          {
            "type": "checkbox",
            "id": "level_two",
            "label": "Level Two"
          },
          {
            "type": "text",
            "id": "level_two_text",
            "label": "Level Two Text",
            "info": "Adding text here will replace the dot on the chart with text."
          },
          {
            "type": "checkbox",
            "id": "level_three",
            "label": "Level Three"
          },
          {
            "type": "text",
            "id": "level_three_text",
            "label": "Level Three Text",
            "info": "Adding text here will replace the dot on the chart with text."
          }
        ]
      }
    ]
  }
{% endschema %}