<div class="rewards-cta">
  <div class="page-width">
    <div class="rewards-cta__container">
      {% if section.settings.mobile_image != blank %}
        {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'img-fill hide-mobile' %}
        {% render 'lazy-image' image: section.settings.mobile_image, fade: true, classes: 'img-fill hide-desktop' %}
      {% else %}
        {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'img-fill' %}
      {% endif %}
      <div class="rewards-cta__content">
        <h3>{{ section.settings.title }}</h3>
        <p class="body-large">{{ section.settings.text }}</p>
        <div class="rewards-cta__buttons">
          <a href="{{ section.settings.button_link }}" class="button button--white">{{ section.settings.button_label }}</a>
          {% if section.settings.secondary_button_label != blank %}
            <a href="{{ section.settings.secondary_button_link }}" class="button button--white-ghost">{{ section.settings.secondary_button_label }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Rewards CTA",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "secondary_button_label",
        "label": "Secondary Button Label"
      },
      {
        "type": "url",
        "id": "secondary_button_link",
        "label": "Secondary Button Link"
      }
    ]
  }
{% endschema %}