<!-- {% layout none %} -->
<!doctype html>  
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {% include 'shop-sheriff-amp' %}
    {% include 'kiwiSizing' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% style %}
      /* Sunset Gothic - Medium */
      @font-face {
        font-family: 'Sunset Gothic';
        src: url('{{ "Sunset-Gothic-Medium-Pro.woff2" | asset_url }}') format('woff2'),
             url('{{ "Sunset-Gothic-Medium-Pro.woff" | asset_url }}') format('woff');
        font-style: normal;
        font-weight: 600;
      }

      /* Tobias - Thin */
      @font-face {
        font-family: 'Tobias';
        src: url('{{ "Tobias-Thin.woff2" | asset_url }}') format('woff2'),
             url('{{ "Tobias-Thin.woff" | asset_url }}') format('woff');
        font-style: normal;
        font-weight: 200;
      }

     /* ABC Favorit */
     @font-face {
        font-family: 'ABC Favorit';
        src: url('{{ "ABCFavoritVariable.woff2" | asset_url }}') format('woff2'),
             url('{{ "ABCFavoritVariable.woff" | asset_url }}') format('woff');
        font-style: normal;
        font-weight: 400;
      }

      :root {
        --bone: #FAF5E1;
        --tan: #EBE8DB;
        --yellow: #FFFF50;
        --yellow-tint: #FFFF85;
        --sky: #C1D7EC;

        --header-height: 65px;
        --mobile-header-height: 58px;


        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --page-width: 1440px;
        --page-width-margin: 1440px;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-family: sans-serif;
        color: {{ settings.text_color }};
        background: {{ settings.background_color }};
      }

      a {
        text-decoration: none;
        color: {{ settings.text_color }};
      }

      button {
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer; 
        color: {{ settings.text_color }};
      }
    {% endstyle %}

    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

      <script src="https://whai-cdn.nyc3.cdn.digitaloceanspaces.com/quiz/production/script_tag.js"></script>
<style>
      html,
    body {
      margin: 0 !important;
      padding: 0 !important;
      height: 100%;
      width: 100%;
      overflow-x: hidden;
    }

    #askwhai-root {
      top: 0;
      left: 0;
      right: 0;
      opacity: 1;
      width: 100%;
      min-height: 100% !important;
      position: relative;    
    }

    </style>
  </head>

  <body class="page-recommendation">


      {% section 'header' %}

      <askwhai-quiz-root mode="embed" quiz="7254"></askwhai-quiz-root>


      {% section 'footer' %}


</body>
</html>

